<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" title="pdf" role="button" (click)="pdf($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="excel" role="button" (click)="excel($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-row">
        <div class="col-5">
            <mat-form-field appearance="standard">
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="picker1" class="form-control-sm" [(ngModel)]="fechaInicio" [max]="hoy">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-5">
            <mat-form-field appearance="standard">
                <mat-label>Fecha Final</mat-label>
                <input matInput [matDatepicker]="picker2" class="form-control-sm" [(ngModel)]="fechaFinal" [max]="hoy">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-2">
            <button mat-button (click)="obtener()">
                Generar reporte
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h1>{{reporteVenta.razonSocial}}</h1>
            </div>
            <div class="row">
                <h2>{{reporteVenta.nombreComercial}}</h2>
            </div>
            <div class="row">
                <h2>{{reporteVenta.nombreReporte}}</h2>
            </div>
            <div class="row">
                <h2>{{reporteVenta.periodoReporte}}</h2>
            </div>
            <div class="row">
                DATOS GENERALES<br>
                FECHA DEL REPORTE: {{reporteVenta.fecha}}<br>
                PERIODO DEL REPORTE: {{reporteVenta.periodoReporte}}<br>
                USUARIO: {{reporteVenta.usuario}}<br>
                CARGO: {{reporteVenta.perfil}}<br><br>
            </div>
            <div class="row">
                <div class="col-12">
                    DOCUMENTOS EN EL PERIODO
                    <table class="table table-hover table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>FECHA</th>
                                <th>HORA</th>
                                <th>DOC</th>
                                <th>ESTAB</th>
                                <th>P.VTA</th>
                                <th>SECUENCIA</th>
                                <th>CLIENTE</th>
                                <th>IDENT</th>
                                <th>VENDEDOR</th>
                                <th>T.VTA</th>
                                <th>SUBTOTAL0</th>
                                <th>SUBTOTAL12</th>
                                <th>IVA</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reporteVentaLinea of reporteVenta.reporteVentaLineas; let i=index">
                                <td>{{reporteVentaLinea.fecha}}</td>
                                <td>{{reporteVentaLinea.hora}}</td>
                                <td>{{reporteVentaLinea.documento}}</td>
                                <td>{{reporteVentaLinea.establecimiento}}</td>
                                <td>{{reporteVentaLinea.estacion}}</td>
                                <td>{{reporteVentaLinea.secuencia}}</td>
                                <td>{{reporteVentaLinea.cliente}}</td>
                                <td>{{reporteVentaLinea.identificacion}}</td>
                                <td>{{reporteVentaLinea.vendedor}}</td>
                                <td>{{reporteVentaLinea.tipoVenta}}</td>
                                <td>{{reporteVentaLinea.subtotal0}}</td>
                                <td>{{reporteVentaLinea.subtotal12}}</td>
                                <td>{{reporteVentaLinea.iva}}</td>
                                <td>{{reporteVentaLinea.total}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>TOTALES</td>
                                <td>{{reporteVenta.total0}}</td>
                                <td>{{reporteVenta.total12}}</td>
                                <td>{{reporteVenta.totalIva}}</td>
                                <td>{{reporteVenta.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                INFORMACION RESUMEN
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    COMPROBANTES EMITIDOS<br>
                    <table class="table table-hover table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>FACTURAS EMITIDAS</th>
                                <th>FACTURAS ANULADAS</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{reporteVenta.facturasEmitidas}}</td>
                                <td>{{reporteVenta.facturasAnuladas}}</td>
                                <td>{{reporteVenta.facturasTotales}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    RESUMEN DE VENTAS<br>
                    <table class="table table-hover table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>VENTAS GRAVADAS CON 12%</th>
                                <th>VENTAS GRAVADAS CON 0%</th>
                                <th>IVA TARIFA 12%</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{reporteVenta.total0}}</td>
                                <td>{{reporteVenta.total12}}</td>
                                <td>{{reporteVenta.totalIva}}</td>
                                <td>{{reporteVenta.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    REPORTE DE COBROS <br>
                    <table class="table table-hover table-bordered">
                        <thead class="table-active">
                            <tr>
                                <th>EFECTIVO</th>
                                <th>CHEQUE</th>
                                <th>TARJETA DE CREDITO</th>
                                <th>TARJETA DEBITO</th>
                                <th>DEPOSITO</th>
                                <th>TRANSFERENCIA</th>
                                <th>CREDITO</th>
                                <th>TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{reporteVenta.efectivo}}</td>
                                <td>{{reporteVenta.cheque}}</td>
                                <td>{{reporteVenta.tarjetaCredito}}</td>
                                <td>{{reporteVenta.tarjetaDebito}}</td>
                                <td>{{reporteVenta.deposito}}</td>
                                <td>{{reporteVenta.transferencia}}</td>
                                <td>{{reporteVenta.credito}}</td>
                                <td>{{reporteVenta.totalRecaudacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    _______________________________<br>
                    {{reporteVenta.nombreRepresentanteLegal}}<br>
                    {{reporteVenta.cargoRepresentanteLegal}}<br>
                    {{reporteVenta.empresaRepresentanteLegal}}<br>
                </div>
                <div class="col-6">
                    _______________________________<br>
                    {{reporteVenta.nombreUsuario}}<br>
                    {{reporteVenta.cargoUsuario}}<br>
                    {{reporteVenta.empresaUsuario}}<br>
                </div>
            </div>
        </div>
    </div>
</div>