<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small> © 2023 derechos reservados <i class="fa fa-heart text-danger" aria-hidden="true"></i> para <span
          class="text-secondary font-weight-bold">FuturisTIC - Evolución en la era digital</span></small>
    </div>
    <div class="col-md-12 text-center mb-3">
      <a href="https://www.futuristic.com" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/futuristic" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/futuristic/" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/futuristic/" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
          class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>