<h1 mat-dialog-title>MOVIMIENTOS CONTABLES</h1>
<!-- para ingresar datos {{data.codigo}} -->
<div mat-dialog-content>
  <app-tabla-movimiento-contable
    (movimientoContableSeleccionado)="movimientoContableSeleccionado($event)"></app-tabla-movimiento-contable>
    <!--app-tabla-grupo-producto></app-tabla-grupo-producto-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Guardar</button>
</div>