<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="grupoProducto.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="grupoProducto.id!=0">
            <li class="nav-item" *ngIf="!editarGrupoProducto">
                <a class="nav-link" title="Actualizar" role="button" (click)="editar()">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="editarGrupoProducto">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
        </ng-container>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="grupoProducto.id!=0">
            <a class="nav-link" title="Eliminar" role="button" (click)="eliminarLeer($event)">
                <mat-icon>delete</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoGrupo = true" (closed)="abrirPanelNuevoGrupo = false"
            [expanded]="abrirPanelNuevoGrupo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GRUPOS PARA PRODUCTOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoGrupo ? 'Ocultar crear grupo' : 'Crear nuevo grupo'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-8 pr-3">
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Grupo</mat-label>
                            <input type="text" matInput aria-label="grupo" class="form-control-sm"
                                [formControl]="controlGrupo" [matAutocomplete]="grupo">
                            <mat-autocomplete autoActiveFirstOption #grupo="matAutocomplete">
                                <mat-option *ngFor="let grupo of filtroGrupos | async" [value]="grupo">
                                    {{grupo}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Subgrupo</mat-label>
                            <input type="text" matInput aria-label="subgrupo" class="form-control-sm"
                                [formControl]="controlSubgrupo" [matAutocomplete]="subgrupo">
                            <mat-autocomplete autoActiveFirstOption #subgrupo="matAutocomplete">
                                <mat-option *ngFor="let subgrupo of filtroSubgrupos | async" [value]="subgrupo">
                                    {{subgrupo}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Sección</mat-label>
                            <input type="text" matInput aria-label="seccion" class="form-control-sm"
                                [formControl]="controlSeccion" [matAutocomplete]="seccion">
                            <mat-autocomplete autoActiveFirstOption #seccion="matAutocomplete">
                                <mat-option *ngFor="let seccion of filtroSecciones | async" [value]="seccion">
                                    {{seccion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Línea</mat-label>
                            <input type="text" matInput aria-label="linea" class="form-control-sm"
                                [formControl]="controlLinea" [matAutocomplete]="linea">
                            <mat-autocomplete autoActiveFirstOption #linea="matAutocomplete">
                                <mat-option *ngFor="let linea of filtroLineas | async" [value]="linea">
                                    {{linea}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Sublínea</mat-label>
                            <input type="text" matInput aria-label="sublinea" class="form-control-sm"
                                [formControl]="controlSublinea" [matAutocomplete]="sublinea">
                            <mat-autocomplete autoActiveFirstOption #sublinea="matAutocomplete">
                                <mat-option *ngFor="let sublinea of filtroSublineas | async" [value]="sublinea">
                                    {{sublinea}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto.presentacion"
                                [disabled]="deshabilitarPresentacion" oninput="this.value = this.value.toUpperCase()"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-4 linea-vertical">
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Categoría</mat-label>
                            <mat-select [(ngModel)]="grupoProducto.categoriaProducto.id" class="form-control-sm"
                                (selectionChange)="validarCategoria()" [disabled]="!editarGrupoProducto">
                                <mat-option *ngFor="let categoriaProducto of categoriasProductos"
                                    [value]="categoriaProducto.id">
                                    {{categoriaProducto.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="estado" class="form-control-sm" [disabled]="!editarGrupoProducto">
                                <mat-option [value]="estadoActivo">{{estadoActivo}}</mat-option>
                                <mat-option [value]="estadoInactivo">{{estadoInactivo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="standard">
                            <mat-label>Cod. Movimiento Contable</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto.afectacionContable.descripcion" disabled
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4 iconos">
                        <button mat-icon-button aria-label="Mov. Conta" [disabled]="!editarGrupoProducto" (click)="dialogoMovimientosContables()">
                            <mat-icon >search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">    
        <mat-expansion-panel (opened)="abrirPanelAdminGrupo = true" (closed)="abrirPanelAdminGrupo = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR GRUPOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminGrupo ? 'Ocultar administrador de grupos' : 'Editar
                    grupos de productos existentes'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <app-tabla-grupo-producto (grupoProductoSeleccionado)="seleccion($event)">
            </app-tabla-grupo-producto>
        </mat-expansion-panel>
    </mat-accordion>
</div>