<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <ng-container *ngIf="abrirPanelNuevoGrupo">
            <li class="nav-item">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>note_add</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Borrar" role="button" (click)="borrar($event)">
                    <mat-icon>backspace</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="grupoProducto.id==0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="grupoProducto.id!=0">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Eliminar" role="button" (click)="eliminarLeer($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="abrirPanelAdminGrupo">
            <li class="nav-item">
                <a class="nav-link" title="Buscar" role="button" (click)="buscar($event)">
                    <mat-icon>search</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Editar" role="button" (click)="actualizarLeer($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Eliminar" role="button" (click)="eliminarLeer($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoGrupo = true" (closed)="abrirPanelNuevoGrupo = false"
            [expanded]="abrirPanelNuevoGrupo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GRUPOS PARA PRODUCTOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoGrupo ? 'Ocultar crear grupo' : 'Crear nuevo grupo'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-8 pr-3">
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Grupo</mat-label>
                            <input type="text" matInput aria-label="grupo" class="form-control-sm"
                                [formControl]="seleccionGrupo" [matAutocomplete]="grupo">
                            <mat-autocomplete autoActiveFirstOption #grupo="matAutocomplete">
                                <mat-option *ngFor="let grupo of filtroGrupos | async" [value]="grupo">
                                    {{grupo}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Subgrupo</mat-label>
                            <input type="text" matInput aria-label="subgrupo" class="form-control-sm"
                                [formControl]="seleccionSubgrupo" [matAutocomplete]="subgrupo">
                            <mat-autocomplete autoActiveFirstOption #subgrupo="matAutocomplete">
                                <mat-option *ngFor="let subgrupo of filtroSubgrupos | async" [value]="subgrupo">
                                    {{subgrupo}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Sección</mat-label>
                            <input type="text" matInput aria-label="seccion" class="form-control-sm"
                                [formControl]="seleccionSeccion" [matAutocomplete]="seccion">
                            <mat-autocomplete autoActiveFirstOption #seccion="matAutocomplete">
                                <mat-option *ngFor="let seccion of filtroSecciones | async" [value]="seccion">
                                    {{seccion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Línea</mat-label>
                            <input type="text" matInput aria-label="linea" class="form-control-sm"
                                [formControl]="seleccionLinea" [matAutocomplete]="linea">
                            <mat-autocomplete autoActiveFirstOption #linea="matAutocomplete">
                                <mat-option *ngFor="let linea of filtroLineas | async" [value]="linea">
                                    {{linea}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Sublínea</mat-label>
                            <input type="text" matInput aria-label="sublinea" class="form-control-sm"
                                [formControl]="seleccionSublinea" [matAutocomplete]="sublinea">
                            <mat-autocomplete autoActiveFirstOption #sublinea="matAutocomplete">
                                <mat-option *ngFor="let sublinea of filtroSublineas | async" [value]="sublinea">
                                    {{sublinea}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto.presentacion"
                                [disabled]="deshabilitarPresentacion" oninput="this.value = this.value.toUpperCase()"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-4 linea-vertical">
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Categoría</mat-label>
                            <mat-select [(ngModel)]="grupoProducto.categoriaProducto" class="form-control-sm"
                                (selectionChange)="validarCategoria()">
                                <mat-option *ngFor="let categoriaProducto of categoriasProductos"
                                    [value]="categoriaProducto">
                                    {{categoriaProducto.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="estado" class="form-control-sm">
                                <mat-option value="ACTIVO">ACTIVO</mat-option>
                                <mat-option value="INACTIVO"> INACTIVO</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="standard">
                            <mat-label>Cod. Movimiento Contable</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto" disabled
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4 iconos">
                        <button mat-icon-button aria-label="Ver movimientos contables">
                            <mat-icon (click)="dialogoMovimientosContables()">search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="abrirPanelAdminGrupo = true" (closed)="abrirPanelAdminGrupo = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR GRUPOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminGrupo ? 'Ocultar administrador de grupos' : 'Editar
                    grupos de productos existentes'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <app-tabla-grupo-producto (grupoProductoSeleccionado)="grupoSeleccionado($event)">
            </app-tabla-grupo-producto>
        </mat-expansion-panel>
    </mat-accordion>
</div>