<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="grupoProducto.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="grupoProducto.id!=0">
            <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                <mat-icon>update</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="grupoProducto.id!=0">
            <li class="nav-item" *ngIf="grupoProducto.estado!=activo">
                <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                    <mat-icon>assignment_turned_in</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="grupoProducto.estado==activo">
                <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevo = true" (closed)="abrirPanelNuevo = false"
            [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GRUPOS PARA PRODUCTOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevo ? 'Ocultar crear grupo' : 'Crear nuevo grupo'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-8 pr-3">
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Grupo</mat-label>
                            <input matInput type="text" oninput="this.value = this.value.toUpperCase()" class="form-control-sm"
                                [formControl]="controlGrupo" [matAutocomplete]="grupo">
                            <mat-autocomplete autoActiveFirstOption #grupo="matAutocomplete">
                                <mat-option *ngFor="let grupo of filtroGrupos | async" [value]="grupo">
                                    {{grupo}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Subgrupo</mat-label>
                            <input matInput type="text" oninput="this.value = this.value.toUpperCase()" class="form-control-sm"
                                [formControl]="controlSubgrupo" [matAutocomplete]="subgrupo">
                            <mat-autocomplete autoActiveFirstOption #subgrupo="matAutocomplete">
                                <mat-option *ngFor="let subgrupo of filtroSubgrupos | async" [value]="subgrupo">
                                    {{subgrupo}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard" *ngIf="!verInputSeccion">
                            <mat-label>Sección</mat-label>
                            <input matInput type="text" oninput="this.value = this.value.toUpperCase()" class="form-control-sm"
                                [formControl]="controlSeccion" [matAutocomplete]="seccion">
                            <mat-autocomplete autoActiveFirstOption #seccion="matAutocomplete">
                                <mat-option *ngFor="let seccion of filtroSecciones | async" [value]="seccion">
                                    {{seccion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="standard" *ngIf="verInputSeccion">
                            <mat-label>Nueva sección</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto.seccion" class="form-control-sm"
                                oninput="this.value = this.value.toUpperCase()" >
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Línea</mat-label>
                            <input matInput type="text" oninput="this.value = this.value.toUpperCase()" class="form-control-sm"
                                [formControl]="controlLinea" [matAutocomplete]="linea">
                            <mat-autocomplete autoActiveFirstOption #linea="matAutocomplete">
                                <mat-option *ngFor="let linea of filtroLineas | async" [value]="linea">
                                    {{linea}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Sublínea</mat-label>
                            <input matInput type="text" oninput="this.value = this.value.toUpperCase()" class="form-control-sm"
                                [formControl]="controlSublinea" [matAutocomplete]="sublinea">
                            <mat-autocomplete autoActiveFirstOption #sublinea="matAutocomplete">
                                <mat-option *ngFor="let sublinea of filtroSublineas | async" [value]="sublinea">
                                    {{sublinea}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto.presentacion" class="form-control-sm"
                                oninput="this.value = this.value.toUpperCase()" [disabled]="deshabilitarPresentacion">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-4 linea-vertical">
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Categoría</mat-label>
                            <mat-select [(ngModel)]="grupoProducto.categoriaProducto" [compareWith]="compareFn"
                                (selectionChange)="validarCategoria()" class="form-control-sm">
                                <mat-option *ngFor="let categoriaProducto of categoriasProductos" [value]="categoriaProducto">
                                    {{categoriaProducto.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="grupoProducto.estado" class="form-control-sm" [disabled]="true">
                                <mat-option [value]="activo">{{activo}}</mat-option>
                                <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="standard">
                            <mat-label>Cuenta Contable</mat-label>
                            <input matInput type="text" [(ngModel)]="grupoProducto.cuentaContable.cuenta" disabled
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4 iconos">
                        <button mat-icon-button aria-label="Mov. Conta" (click)="dialogoCuentasContables()">
                            <mat-icon >search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">    
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false"
            [expanded]="abrirPanelAdmin">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR GRUPOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de grupos' : 'Editar grupos de productos existentes'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar en grupo de productos</mat-label>
                <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtro($event)" #inputFiltro>
                <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                    (click)="borrarFiltro()">
                <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
        
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabecera;"></tr>
        
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">No hay datos que coincidan con el grupo de producto</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>