// Componente producto
.derecha{
    justify-content: end;
}

.lowercase {
  text-transform: lowercase;
}

::ng-deep td > mat-form-field > .mat-form-field-wrapper {
  padding-bottom: 0.1em !important;
  .mat-form-field-flex > .mat-form-field-infix {
    width: 0px!important;
    border-top: 0.1em !important;
    .mat-input-element {
      font-size: 12px !important;
      height: 12px;
    }
  }
}

::ng-deep .centrarCabecera .mat-sort-header-container {
  display: flex;
  justify-content: center;
}