<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="usuario.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="usuario.id!=0">
            <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                <mat-icon>update</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="usuario.id!=0">
            <li class="nav-item" *ngIf="usuario.estado!=activo">
                <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                    <mat-icon>assignment_turned_in</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="usuario.estado==activo">
                <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevo = true" (closed)="abrirPanelNuevo = false"
            [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>USUARIOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevo ? 'Ocultar crear usuario' : 'Crear nuevo usuario'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="form-row col-10">
                    <div class="form-row col-3 mr-2">
                        <div class="col-12">
                            <mat-form-field appearance="standard">
                                <mat-label>Usuario</mat-label>
                                <input matInput type="text" [(ngModel)]="usuario.apodo" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="standard">
                                <mat-label>Contraseña</mat-label>
                                <input matInput [type]="ocultarContrasena ? 'password' : 'text'" [(ngModel)]="usuario.contrasena">
                                <button mat-icon-button matSuffix (click)="ocultarContrasena = !ocultarContrasena"
                                    [attr.aria-label]="'Ocultar password'" [attr.aria-pressed]="ocultarContrasena">
                                    <mat-icon>{{ocultarContrasena ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="standard">
                                <mat-label>Confirmar Contraseña</mat-label>
                                <input matInput [type]="ocultarContrasena2 ? 'password' : 'text'" [(ngModel)]="usuario.confirmarContrasena" (change)="validarContrasena()">
                                <button mat-icon-button matSuffix (click)="ocultarContrasena2 = !ocultarContrasena2"
                                    [attr.aria-label]="'Ocultar password2'" [attr.aria-pressed]="ocultarContrasena2">
                                    <mat-icon>{{ocultarContrasena2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-12 centrar labelBeforeSlide">
                            <mat-label class="mr-2">Cambiar Contraseña : </mat-label>
                            <mat-slide-toggle class="azul" [checked]="cambiarContrasena" (toggleChange)="alternarCambiarContrasena()"></mat-slide-toggle>
                        </div>
                    </div>
                    <div class="form-row col-9 linea-vertical">
                        <div class="col-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Identificacion</mat-label>
                                <input matInput type="text" [(ngModel)]="usuario.identificacion" class="form-control-sm"
                                (change)="validarIdentificacion(usuario.identificacion)">
                            </mat-form-field>
                        </div>
                        <div class="col-9">
                            <mat-form-field appearance="standard">
                                <mat-label>Nombre</mat-label>
                                <input matInput type="text" [(ngModel)]="usuario.nombre" class="form-control-sm"
                                    oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Teléfono</mat-label>
                                <b matPrefix>+593 &nbsp;</b>
                                <input matInput type="tel" [(ngModel)]="usuario.telefono" class="form-control-sm"
                                    (change)="validarTelefono()" placeholder="03-2999-123" oninput="this.value = this.value.replace
                                    ( /^(\d{2})(\d{4})(\d{3})$/, '$1-$2-$3')">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Celular</mat-label>
                                <b matPrefix>+593 </b>
                                <input matInput type="tel" [(ngModel)]="usuario.celular" class="form-control-sm"
                                    (change)="validarCelular()" placeholder="09-9999-1234" oninput="this.value = this.value.replace
                                            ( /^(\d{2})(\d{4})(\d{4})$/, '$1-$2-$3')">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="standard">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="ejemplo@evoluciontic.com" [(ngModel)]="usuario.correo"
                                oninput="this.value = this.value.toLowerCase()" appFormatoDecimal class="form-control-sm">
                            </mat-form-field>
                        </div>
                        <div class="col-7">
                            <mat-form-field appearance="standard">
                                <mat-label>Pregunta de Seguridad</mat-label>
                                <mat-select [(ngModel)]="usuario.pregunta" [compareWith]="compareFn"
                                    class="form-control-sm">
                                    <mat-option *ngFor="let pregunta of preguntas" [value]="pregunta">
                                        {{pregunta}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <mat-form-field appearance="standard">
                                <mat-label>Respuesta</mat-label>
                                <input matInput type="text" [(ngModel)]="usuario.respuesta" class="form-control-sm"
                                    oninput="this.value = this.value.toUpperCase()">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Perfil</mat-label>
                                <mat-select [(ngModel)]="usuario.perfil" [compareWith]="compareFn" class="form-control-sm">
                                    <mat-option *ngFor="let perfil of perfiles" [value]="perfil">
                                        {{perfil.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Multiempresa</mat-label>
                                <input matInput type="text" [(ngModel)]="usuario.perfil.multiempresa" 
                                class="form-control-sm" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-7">
                            <mat-form-field appearance="standard">
                                <mat-label>Empresa</mat-label>
                                <mat-select [(ngModel)]="usuario.estacion.establecimiento.empresa" [compareWith]="compareFn"
                                    (selectionChange)="consultarEstablecimientos()" class="form-control-sm" [disabled]="!perfilAdministrador">
                                    <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                                        {{empresa.nombreComercial}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <mat-form-field appearance="standard">
                                <mat-label>Establecimiento</mat-label>
                                <mat-select [(ngModel)]="usuario.estacion.establecimiento" [compareWith]="compareFn" 
                                    (selectionChange)="consultarEstaciones()" class="form-control-sm">
                                    <mat-option *ngFor="let establecimiento of establecimientos" [value]="establecimiento">
                                        {{establecimiento.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <mat-form-field appearance="standard">
                                <mat-label>PC Asignado</mat-label>
                                <mat-select [(ngModel)]="usuario.estacion" [compareWith]="compareFn" class="form-control-sm">
                                    <mat-option *ngFor="let estacion of estaciones" [value]="estacion">
                                        {{estacion.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Estado</mat-label>
                                <mat-select [(ngModel)]="usuario.estado" [disabled]="true"
                                    class="form-control-sm">
                                    <mat-option [value]="activo">{{activo}}</mat-option>
                                    <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>    
                <div class="form-row col-2">
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" [(ngModel)]="usuario.codigo" class="form-control-sm"
                                [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-card class="foto" (click)="fileInput.click()" title="click">
                            <img width="100%" height="100%" [src]="'data:image/jpeg;base64,'+usuario.avatar64">
                        </mat-card>
                    </div>
                    <div class="col-12 centrar mb-1">
                        <button class="centrar botonAzul" type="button" mat-raised-button 
                            (click)="fileInput.click()">Escoja Avatar</button>
                        <input type="file" hidden (change)="capturarFile($event)" #fileInput>
                        <!--span class="file-name">{{selectedFile?.name}}</span-->
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false"
            [expanded]="abrirPanelAdmin">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR USUARIOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de usuarios' : 'Administrar usuarios existentes'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-form-field appearance="standard">
                <mat-label>Buscar usuario</mat-label>
                <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtro($event)" #inputFiltro>
                <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                    (click)="borrarFiltro()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabecera;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el usuario: 
                            "{{inputFiltro.value}}"
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Código: {{clickedRow.codigo}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>