<div class="contenedor">
    <nav class="navbar-light nav-fijo">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="notaCredito.id == 0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaCredito.id != 0 && notaCredito.estado != estadoAnulada && notaCredito.procesoSRI != procesoSRIAnulada && notaCredito.procesoSRI != procesoSRIAutorizada">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>file_copy</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaCredito.id != 0 && notaCredito.estado != estadoAnulada && notaCredito.procesoSRI != procesoSRIAnulada">
                <a class="nav-link" title="Anular" role="button" (click)="anular($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaCredito.id != 0 && notaCredito.factura.estado != estadoEmitida && notaCredito.factura.estado != estadoAnulada && notaCredito.factura.procesoSRI != procesoSRIAnulada && notaCredito.factura.procesoSRI != procesoSRIPendiente
            && notaCredito.estado != estadoAnulada && notaCredito.procesoSRI != procesoSRIAutorizada && notaCredito.procesoSRI != procesoSRIAnulada">
                <a class="nav-link" title="Crear Nota Credito Electronica" href="#" role="button" (click)="crearNotaCreditoElectronica($event)">
                    <mat-icon>point_of_sale</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaCredito.id != 0 && notaCredito.estado != estadoAnulada && notaCredito.procesoSRI != procesoSRIAnulada">
                <a class="nav-link" title="Obtener PDF" href="#" role="button" (click)="obtenerPDF($event)">
                    <mat-icon>picture_as_pdf</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaCredito.id != 0 && notaCredito.estado != estadoAnulada && notaCredito.procesoSRI != procesoSRIAnulada && notaCredito.procesoSRI != procesoSRIPendiente">
                <a class="nav-link" title="Enviar PDF Y XML" href="#" role="button" (click)="enviarPDFYXML($event)">
                    <mat-icon>forward_to_inbox</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
    <mat-divider></mat-divider>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoNC = true" (closed)="abrirPanelNuevoNC = false" 
            [expanded]="abrirPanelNuevoNC">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>NOTA DE CRÉDITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoNC ? 'Ocultar sección' : 'Información del cliente para nota credito'}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="form-row col-9">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Identificación</mat-label>
                            <input matInput type="text" class="form-control-sm" placeholder="Cédula/RUC"
                                [formControl]="controlIdentificacionCliente"
                                [matAutocomplete]="identificacionCliente">
                            <mat-autocomplete #identificacionCliente="matAutocomplete"
                                [displayWith]="verIdentificacionCliente"
                                (optionSelected)="seleccionarIdentificacionCliente()"
                                (opened)="consultarClientes()">
                                <mat-option *ngFor="let cliente of filtroIdentificacionClientes | async"
                                    [value]="cliente">{{cliente.identificacion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field appearance="standard">
                            <mat-label>Razón Social</mat-label>
                            <input type="text" class="form-control-sm" placeholder="Clientes" matInput
                                [formControl]="controlRazonSocialCliente" [matAutocomplete]="razonSocialCliente"
                                oninput="this.value = this.value.toUpperCase()">
                            <mat-autocomplete #razonSocialCliente="matAutocomplete"
                                [displayWith]="verRazonSocialCliente"
                                (optionSelected)="seleccionarRazonSocialCliente()" (opened)="consultarClientes()">
                                <mat-option *ngFor="let cliente of filtroRazonSocialClientes | async"
                                    [value]="cliente">
                                    {{cliente.razonSocial}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Fecha</mat-label>
                            <input matInput #inputFecha="ngModel" [matDatepicker]="picker" [(ngModel)]="notaCredito.fecha" 
                                required [min]="fechaMinima" [max]="hoy" datePickerFormat="DD-MM-YYYY">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="inputFecha.hasError('matDatepickerMin')">No puede ser menor a 72 horas</mat-error>
                            <mat-error *ngIf="inputFecha.hasError('matDatepickerMax')">Debe ser menor al día de hoy</mat-error>
                            <mat-error *ngIf="inputFecha.hasError('required')">Fecha requerida o no existe</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Factura</mat-label>
                            <input matInput type="text" class="form-control-sm" placeholder="Factura"
                                [formControl]="controlFactura" [matAutocomplete]="factura"
                                oninput="this.value = this.value.toUpperCase()">
                            <mat-autocomplete #factura="matAutocomplete" [displayWith]="verFactura"
                                (optionSelected)="seleccionarFactura()">
                                <mat-option *ngFor="let factura of filtroFacturas | async" [value]="factura">
                                    {{factura.numeroComprobante}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Operacion</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="notaCredito.operacion"
                                (selectionChange)="seleccionarOperacion()">
                                <mat-option [value]="devolucion">{{devolucion}}</mat-option>
                                <mat-option [value]="descuento">{{descuento}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>V. Descuento</mat-label>
                            <input matInput type="text" [(ngModel)]="notaCredito.descuento" class="form-control-sm"
                                (change)="calcular()" [disabled]="deshabilitarDescuento">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-3 linea-vertical ml-1">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Estab.</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [(ngModel)]="notaCredito.establecimiento" [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Punto V.</mat-label>
                            <input matInput type="text" class="form-control-sm" 
                                [(ngModel)]="notaCredito.puntoVenta" [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Secuencial</mat-label>
                            <input matInput type="text" class="form-control-sm" [(ngModel)]="notaCredito.secuencial"
                                [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text" class="form-control-sm" [(ngModel)]="notaCredito.usuario.apodo"
                                [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <input matInput type="text" class="form-control-sm" [(ngModel)]="notaCredito.estado"
                                [disabled]="true">
                        </mat-form-field>
                    </div>
                </div>   
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="abrirPanelNCLinea = true" (closed)="abrirPanelNCLinea = false"
            [expanded]="abrirPanelNCLinea">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>ITEMS NOTA DE CRÉDITO VENTA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNCLinea ? 'Ocultar sección' : 'Productos de la nota de crédito'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-12 mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceLinea" matSort #MatSortLinea="matSort">
                        <ng-container *ngFor="let columna of columnasLinea"
                            [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="centrar-cabecera"> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index" class="centrar-celda">
                                <ng-container *ngIf="columna.nombreColumna != 'cantidad' && columna.nombreColumna != 'costounitario' &&
                                    columna.nombreColumna != 'acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna == 'cantidad'">
                                    <mat-form-field floatLabel="never">
                                        <input matInput type="text" [(ngModel)]="row.cantidad" (change)="calcular()">
                                    </mat-form-field>
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna == 'costounitario'">
                                    <mat-form-field floatLabel="never">
                                        <input matInput type="text" [(ngModel)]="row.costoUnitario" (change)="calcular()" [disabled]="!deshabilitarDescuento">
                                    </mat-form-field>
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna == 'acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarNotaCreditoVentaLinea(i)">
                                        <i class="fa fa-times mat-icon"></i> 
                                    </button>
                                </ng-container>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraLinea"></tr>
                        <tr mat-row *matRowDef="let row; columns: cabeceraLinea;"
                            [class.selected-row]="clickedRowsLinea.has(row)"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="9">No hay items en la nota de crédito</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginatorLinea="matPaginator"></mat-paginator>
                </div>
                <mat-divider></mat-divider>
                <div class="form-group form-row">
                    <div class="col-8 linea-vertical">
                        <br>
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Comentario</mat-label>
                                <textarea matInput [(ngModel)]="notaCredito.comentario"
                                    placeholder="Referente a la nota de credito..." class="form-control"
                                    rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <mat-card class="resultados">
                            <div class="form-group form-row">
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text" [(ngModel)]="notaCredito.subtotal"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal Gravado :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text "
                                            [(ngModel)]="notaCredito.subtotalGravado"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal No Gravado :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text "
                                            [(ngModel)]="notaCredito.subtotalNoGravado"
                                            class="form-control-sm " [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Importe IVA :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text " [(ngModel)]="notaCredito.importeIva"
                                            class="form-control-sm " [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label class="negrita">TOTAL :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text " [(ngModel)]="notaCredito.total"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR NOTAS CREDITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de nota credito' : 'Editar nota credito existentes'}}
                    <mat-icon>group</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-form-field appearance="standard">
                <mat-label>Buscar nota credito</mat-label>
                <input matInput (keyup)="filtroNotaCreditoVenta($event)" placeholder="Ej. 001" #inputFiltro>
                <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                    (click)="borrarFiltroNotaCreditoVenta()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccionar(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabecera;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el grupo
                            "{{inputFiltro.value}}"</td>
                    </tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <ngx-spinner size="medium" type="line-spin-fade-rotating" [fullScreen] = "true" [zIndex]="1000">
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
</div>