<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                <mat-icon>note_add</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <ng-container *ngIf="banco.id==0">
                <a class="nav-link" href="#" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </ng-container>
            <ng-container *ngIf="banco.id!=0">
                <a class="nav-link" href="#" role="button">
                    <mat-icon>save</mat-icon>
                </a>
            </ng-container>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i><u>CREAR BANCO</u></i>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Codigo</mat-label>
                                        <input matInput type="text" [(ngModel)]="banco.codigo" [disabled]="true" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" [(ngModel)]="banco.nombre" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Tipo</mat-label>
                                        <input matInput type="text" [(ngModel)]="banco.tipo" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Abreviatura</mat-label>
                                        <input matInput type="text" [(ngModel)]="banco.abreviatura" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>