<div class="container">
    <nav class="navbar-light nav-fijo">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI == estadoSRIAnulada">
                <a class="nav-link" title="Guardar" href="#" role="button" (click)="crearRecaudacion($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="!verPanelCheques && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="ver Cheques" role="button" (click)="verPanelCheques = true">
                    <mat-icon>payments</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="verPanelCheques && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="Ocultar Cheques" role="button" (click)="verPanelCheques = false">
                    <mat-icon>subtitles_off</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="!verPanelDepositos && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="ver Depósitos" role="button" (click)="verPanelDepositos = true">
                    <mat-icon>receipt_long</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="verPanelDepositos && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="Ocultar Depósitos" role="button" (click)="verPanelDepositos = false">
                    <mat-icon>signal_cellular_no_sim</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="!verPanelTransferencias && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="ver Transferencias" role="button" (click)="verPanelTransferencias = true">
                    <mat-icon>move_down</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="verPanelTransferencias && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="Ocultar Transferencias" role="button"
                    (click)="verPanelTransferencias = false">
                    <mat-icon>move_up</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="!verPanelTarjetasCredito && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="ver T. Crédito" role="button" (click)="verPanelTarjetasCredito = true">
                    <mat-icon>add_card</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="verPanelTarjetasCredito && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="Ocultar T. Crédito" role="button" (click)="verPanelTarjetasCredito = false">
                    <mat-icon>credit_card_off</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="!verPanelTarjetasDebito && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="ver T. Débito" role="button" (click)="verPanelTarjetasDebito = true">
                    <mat-icon>local_atm</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="verPanelTarjetasDebito && notaDebito.id != 0 && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="Ocultar T. Débito" role="button" (click)="verPanelTarjetasDebito = false">
                    <mat-icon>money_off_csred</mat-icon>
                </a>
            </li>
            <li class="nav-item"
                *ngIf="notaDebito.id != 0 && notaDebito.estado != procesoEmitida && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada && notaDebito.estadoSRI != estadoSRIPendiente">
                <a class="nav-link" title="Crear Nota Debito Electronica" href="#" role="button"
                    (click)="crearNotaDebitoElectronica($event)">
                    <mat-icon>point_of_sale</mat-icon>
                </a>
            </li>
            <li class="nav-item"
                *ngIf="notaDebito.id != 0 && notaDebito.estado != procesoEmitida && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada">
                <a class="nav-link" title="Obtener PDF" href="#" role="button" (click)="obtenerPDF($event)">
                    <mat-icon>picture_as_pdf</mat-icon>
                </a>
            </li>
            <li class="nav-item"
                *ngIf="notaDebito.id != 0 && notaDebito.estado != procesoEmitida && notaDebito.estado != procesoAnulada && notaDebito.estadoSRI != estadoSRIAnulada && notaDebito.estadoSRI != estadoSRIPendiente">
                <a class="nav-link" title="Enviar PDF Y XML" href="#" role="button" (click)="enviarPDFYXML($event)">
                    <mat-icon>forward_to_inbox</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Nota Debito" role="button" (click)="stepperPrevio(stepper)">
                    <mat-icon>undo</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
    <mat-divider></mat-divider>
    <!-- SECCIÓN EFECTIVO Y CRÉDITO -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelRecaudacion = true" (closed)="abrirPanelRecaudacion = false"
            [expanded]="abrirPanelRecaudacion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>RECAUDACIÓN</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelRecaudacion ? 'Ocultar sección' : 'Proceso de recaudación'}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-3">
                    <div class="centrar-titulo col-12 fondo">
                        <mat-label>EFECTIVO</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="mat-elevation-z8">
                        <div class="form-row">
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Valor Nota Debito</mat-label>
                                    <input matInput type="text" [(ngModel)]="notaDebito.total" class="form-control-sm"
                                        [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Valor Pagado</mat-label>
                                    <input matInput type="text" [(ngModel)]="notaDebito.totalRecaudacion"
                                        class="form-control-sm" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Efectivo</mat-label>
                                    <input matInput type="text" appFormatoDecimal [(ngModel)]="notaDebito.efectivo"
                                        (change)="seleccionarEfectivo()" class="form-control-sm">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Cambio</mat-label>
                                    <input matInput type="text" class="form-control-sm" [(ngModel)]="notaDebito.cambio"
                                        [disabled]="true">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-6">
                    <div class="centrar-titulo col-12 fondo">
                        <mat-label>CREDITO</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="mat-elevation-z8">
                        <div class="form-row">
                            <div class="col-4">
                                <mat-form-field appearance="standard">
                                    <mat-label>Crédito</mat-label>
                                    <input matInput type="text" class="form-control-sm" [value]="notaDebito.porPagar"
                                        [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Unidad de Tiempo</mat-label>
                                    <mat-select class="form-control-sm" [(ngModel)]="notaDebito.credito.unidadTiempo"
                                        disabled>
                                        <mat-option *ngFor="let periodicidad of periodicidades"
                                            [value]="periodicidad.nombre">
                                            {{periodicidad.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Plazo</mat-label>
                                    <input matInput type="text" class="form-control-sm" disabled
                                        [(ngModel)]="notaDebito.credito.plazo">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-3">
                    <div class="centrar-titulo col-12 fondo">
                        <mat-label>NOTA DEBITO</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="mat-elevation-z8">
                        <div class="form-row">
                            <div class="col-12">
                                <mat-form-field appearance="standard">
                                    <mat-label>No. Nota Debito</mat-label>
                                    <input matInput type="text" class="form-control-sm" disabled
                                        [(ngModel)]="notaDebito.numeroComprobante">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput type="text" value="{{notaDebito.fecha | date:'dd-MM-yyyy'}}"
                                        class="form-control-sm" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Proceso</mat-label>
                                    <input matInput type="text" [(ngModel)]="notaDebito.estado" [disabled]="true" class="form-control-sm">
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- Sección CHEQUES -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelCheques = true" (closed)="abrirPanelCheques = false"
            [expanded]="abrirPanelCheques" *ngIf="verPanelCheques">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>CHEQUES</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelCheques ? 'Ocultar cheques' : 'Recaudación con cheque'}}
                    <div class="derecha">Total en cheques: {{notaDebito.totalCheques | currency}}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha Cheque</mat-label>
                        <input matInput [matDatepicker]="picker1" class="form-control-sm" [(ngModel)]="cheque.fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Tipo Cheque</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="cheque.tipo">
                            <mat-option [value]="chequeALaVista">{{chequeALaVista}}</mat-option>
                            <mat-option [value]="chequePosfechado">{{chequePosfechado}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Banco</mat-label>
                        <input matInput type="text" class="form-control-sm" [formControl]="controlBancoCheque"
                            [matAutocomplete]="bancoCheque" oninput="this.value = this.value.toUpperCase()">
                        <mat-autocomplete #bancoCheque="matAutocomplete" [displayWith]="verBanco">
                            <mat-option *ngFor="let banco of filtroBancosCheque | async" [value]="banco">
                                {{banco.abreviatura}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>No. Cheque</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="cheque.numero"
                            (blur)="rellenarNumeroCheque()">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Valor</mat-label>
                        <input matInput type="text" appFormatoDecimal [(ngModel)]="cheque.valor"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-1 iconos centrar">
                    <ng-container *ngIf="indiceCheque==menosUno">
                        <button mat-icon-button mat-button (click)="agregarCheque()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="indiceCheque!=menosUno">
                        <button mat-icon-button mat-button (click)="actualizarCheque()">
                            <mat-icon>update</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="mat-elevation-z8 col-12">
                    <table mat-table [dataSource]="dataSourceCheques" matSort #MatSortCheques="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnasCheques" [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarCheque(i)">
                                        <i class="fa fa-times mat-icon"></i>
                                    </button>
                                </ng-container>
                            </td>
                            <ng-container *ngIf="columna.nombreColumna!='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{columna.pie}} </td>
                            </ng-container>
                            <ng-container *ngIf="columna.nombreColumna=='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{notaDebito.totalCheques | currency}} </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraCheques"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraCheques"
                            (click)="seleccionarCheque(row, i)" [class.selected-row]="clickedRowsCheques.has(row)"></tr>
                        <tr mat-footer-row *matFooterRowDef="cabeceraCheques"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="6">No hay cheques agregados</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginatorCheques="matPaginator"></mat-paginator>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <!-- Sección DEPOSITOS -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelDepositos = true" (closed)="abrirPanelDepositos = false"
            [expanded]="abrirPanelDepositos" *ngIf="verPanelDepositos">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>DEPÓSITOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelDepositos ? 'Ocultar depósitos' : 'Recaudación con depósito'}}
                    <div class="derecha">Total en depósitos: {{calcularTotalDepositos() | currency}}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker2" class="form-control-sm" [(ngModel)]="deposito.fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Bancos Propios</mat-label>
                        <mat-select [(ngModel)]="deposito.cuentaPropia.banco.abreviatura"
                            (selectionChange)="consultarCuentasPropias(deposito.cuentaPropia.banco.abreviatura, 'DEPOSITO')"
                            class="form-control-sm">
                            <mat-option *ngFor="let bancoPropio of bancosPropios" [value]="bancoPropio">
                                {{bancoPropio}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Cuenta</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="deposito.cuentaPropia">
                            <mat-option *ngFor="let cuentaPropia of cuentasPropias" [value]="cuentaPropia">
                                {{cuentaPropia.numero}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Tipo Cta.</mat-label>
                        <input matInput type="text" [(ngModel)]="deposito.cuentaPropia.tipoCuenta"
                            class="form-control-sm" disabled>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>No. Comprobante</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.comprobante"
                            (blur)="rellenarNumeroDeposito()">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Valor</mat-label>
                        <input matInput type="text" appFormatoDecimal [(ngModel)]="deposito.valor"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-1 iconos centrar">
                    <ng-container *ngIf="indiceDeposito==menosUno">
                        <button mat-icon-button mat-button (click)="agregarDeposito()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="indiceDeposito!=menosUno">
                        <button mat-icon-button mat-button (click)="actualizarDeposito()">
                            <mat-icon>update</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="mat-elevation-z8 col-12">
                    <table mat-table [dataSource]="dataSourceDepositos" matSort #MatSortDepositos="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnasDepositos" [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarDeposito(i)">
                                        <i class="fa fa-times mat-icon"></i>
                                    </button>
                                </ng-container>
                            </td>
                            <ng-container *ngIf="columna.nombreColumna!='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{columna.pie}} </td>
                            </ng-container>
                            <ng-container *ngIf="columna.nombreColumna=='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{calcularTotalDepositos() | currency}} </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraDepositos"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraDepositos"
                            (click)="seleccionarDeposito(row, i)" [class.selected-row]="clickedRowsDepositos.has(row)">
                        </tr>
                        <tr mat-footer-row *matFooterRowDef="cabeceraDepositos"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="7">No hay comprobantes de depositos agregados</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginatorDepositos="matPaginator"></mat-paginator>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Sección TRANSFERENCIAS -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelTransferencias = true" (closed)="abrirPanelTransferencias = false"
            [expanded]="abrirPanelTransferencias" *ngIf="verPanelTransferencias">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>TRANSFERENCIAS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelTransferencias ? 'Ocultar transferencias' : 'Recaudación con transferencia'}}
                    <div class="derecha">Total en transferencias: {{calcularTotalTransferencias() | currency}}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker3" class="form-control-sm"
                            [(ngModel)]="transferencia.fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Tipo Transf.</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="transferencia.tipo">
                            <mat-option [value]="transferenciaDirecta">{{transferenciaDirecta}}</mat-option>
                            <mat-option [value]="transferenciaViaBCE">{{transferenciaViaBCE}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Bancos Propios</mat-label>
                        <mat-select [(ngModel)]="transferencia.cuentaPropia.banco.abreviatura"
                            (selectionChange)="consultarCuentasPropias(transferencia.cuentaPropia.banco.abreviatura, 'TRANSFERENCIA')"
                            class="form-control-sm">
                            <mat-option *ngFor="let bancoPropio of bancosPropios" [value]="bancoPropio">
                                {{bancoPropio}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Cuenta</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="transferencia.cuentaPropia">
                            <mat-option *ngFor="let cuentaPropia of cuentasPropias" [value]="cuentaPropia">
                                {{cuentaPropia.numero}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>No. Comprobante</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="transferencia.comprobante"
                            (blur)="rellenarNumeroTransferencia()">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Valor</mat-label>
                        <input matInput type="text" appFormatoDecimal [(ngModel)]="transferencia.valor"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-1 iconos centrar">
                    <ng-container *ngIf="indiceTransferencia==menosUno">
                        <button mat-icon-button mat-button (click)="agregarTransferencia()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="indiceTransferencia!=menosUno">
                        <button mat-icon-button mat-button (click)="actualizarTransferencia()">
                            <mat-icon>update</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="mat-elevation-z8 col-12">
                    <table mat-table [dataSource]="dataSourceTransferencias" matSort #MatSortTransferencias="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnasTransferencias"
                            [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarTransferencia(i)">
                                        <i class="fa fa-times mat-icon"></i>
                                    </button>
                                </ng-container>
                            </td>
                            <ng-container *ngIf="columna.nombreColumna!='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{columna.pie}} </td>
                            </ng-container>
                            <ng-container *ngIf="columna.nombreColumna=='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{calcularTotalTransferencias() | currency}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraTransferencias"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraTransferencias"
                            (click)="seleccionarTransferencia(row, i)"
                            [class.selected-row]="clickedRowsTransferencias.has(row)"></tr>
                        <tr mat-footer-row *matFooterRowDef="cabeceraTransferencias"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="7">No hay comprobantes de transferencia agregados</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginatorTransferencias="matPaginator"></mat-paginator>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Sección TARJETA DE CRÉDITO -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelTarjetasCredito = true" (closed)="abrirPanelTarjetasCredito = false"
            [expanded]="abrirPanelTarjetasCredito" *ngIf="verPanelTarjetasCredito">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>TARJETAS DE CRÉDITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelTarjetasCredito ? 'Ocultar pagos con tarjeta de crédito' : 'Recaudación con tarjeta de
                    crédito'}}
                    <div class="derecha">Total tarjetas de crédito: {{calcularTotalTC() | currency}}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker4" class="form-control-sm"
                            [(ngModel)]="tarjetaCredito.fecha" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                        <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Franquicia</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaCredito.franquiciaTarjeta">
                            <mat-option *ngFor="let franquiciaTarjeta of franquiciasTarjetas"
                                [value]="franquiciaTarjeta">
                                {{franquiciaTarjeta.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Banco</mat-label>
                        <input matInput type="text" class="form-control-sm" [formControl]="controlBancoTarjetaCredito"
                            [matAutocomplete]="bancoTarjetaCredito" oninput="this.value = this.value.toUpperCase()">
                        <mat-autocomplete #bancoTarjetaCredito="matAutocomplete" [displayWith]="verBanco">
                            <mat-option *ngFor="let banco of filtroBancosTarjetaCredito | async" [value]="banco">
                                {{banco.abreviatura}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Operador</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaCredito.operadorTarjeta">
                            <mat-option *ngFor="let operadorTarjeta of operadoresTarjetas" [value]="operadorTarjeta">
                                {{operadorTarjeta.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Lote</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaCredito.lote">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Titular</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaCredito.titular"
                            (selectionChange)="cambiarTitularTarjetaCredito()">
                            <mat-option [value]="si">{{si}}</mat-option>
                            <mat-option [value]="no">{{no}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Cédula</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaCredito.identificacion"
                            (change)="validarIdentificacion(tarjetaCredito.identificacion, 'TC')"
                            [disabled]="deshabilitarTitularTarjetaCredito">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" [(ngModel)]="tarjetaCredito.nombre"
                            [disabled]="deshabilitarTitularTarjetaCredito"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>

                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Diferido</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaCredito.diferido">
                            <mat-option [value]="si">{{si}}</mat-option>
                            <mat-option [value]="no">{{no}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Valor</mat-label>
                        <input matInput type="text" appFormatoDecimal [(ngModel)]="tarjetaCredito.valor"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-1 iconos centrar">
                    <ng-container *ngIf="indiceTarjetaCredito==menosUno">
                        <button mat-icon-button mat-button (click)="agregarTarjetaCredito()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="indiceTarjetaCredito!=menosUno">
                        <button mat-icon-button mat-button (click)="actualizarTarjetaCredito()">
                            <mat-icon>update</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="mat-elevation-z8 col-12">
                    <table mat-table [dataSource]="dataSourceTarjetasCredito" matSort #MatSortTarjetaCredito="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnasTarjetasCredito"
                            [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarTarjetaCredito(i)">
                                        <i class="fa fa-times mat-icon"></i>
                                    </button>
                                </ng-container>
                            </td>
                            <ng-container *ngIf="columna.nombreColumna!='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{columna.pie}} </td>
                            </ng-container>
                            <ng-container *ngIf="columna.nombreColumna=='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{calcularTotalTC() | currency}} </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraTarjetasCredito"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraTarjetasCredito"
                            (click)="seleccionarTarjetaCredito(row, i)"
                            [class.selected-row]="clickedRowsTarjetasCredito.has(row)"></tr>
                        <tr mat-footer-row *matFooterRowDef="cabeceraTarjetasCredito"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="7">No hay pagos con tarjeta de crédito agregados</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginatorTarjetaCredito="matPaginator"></mat-paginator>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- Sección TARJETA DE DEBITO -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelTarjetasDebito = true" (closed)="abrirPanelTarjetasDebito = false"
            [expanded]="abrirPanelTarjetasDebito" *ngIf="verPanelTarjetasDebito">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>TARJETAS DE DÉBITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelTarjetasDebito ? 'Ocultar pagos con tarjeta de débito' : 'Recaudación con tarjeta de
                    débito'}}
                    <div class="derecha">Total tarjetas de débito: {{calcularTotalTD() | currency}}</div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker5" class="form-control-sm"
                            [(ngModel)]="tarjetaDebito.fecha" disabled>
                        <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                        <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Franquicia</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaDebito.franquiciaTarjeta">
                            <mat-option *ngFor="let franquiciaTarjeta of franquiciasTarjetas"
                                [value]="franquiciaTarjeta">{{franquiciaTarjeta.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Banco</mat-label>
                        <input matInput type="text" class="form-control-sm" [formControl]="controlBancoTarjetaDebito"
                            [matAutocomplete]="bancoTarjetaDebito" oninput="this.value = this.value.toUpperCase()">
                        <mat-autocomplete #bancoTarjetaDebito="matAutocomplete" [displayWith]="verBanco">
                            <mat-option *ngFor="let banco of filtroBancosTarjetaDebito | async" [value]="banco">
                                {{banco.abreviatura}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Operador</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaDebito.operadorTarjeta">
                            <mat-option *ngFor="let operadorTarjeta of operadoresTarjetas" [value]="operadorTarjeta">
                                {{operadorTarjeta.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Lote</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaDebito.lote">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Titular</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="tarjetaDebito.titular"
                            (selectionChange)="cambiarTitularTarjetaDebito()">
                            <mat-option [value]="si">{{si}}</mat-option>
                            <mat-option [value]="no">{{no}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Cédula</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaDebito.identificacion"
                            (change)="validarIdentificacion(tarjetaDebito.identificacion, 'TD')"
                            [disabled]="deshabilitarTitularTarjetaDebito">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" [(ngModel)]="tarjetaDebito.nombre"
                            oninput="this.value = this.value.toUpperCase()"
                            [disabled]="deshabilitarTitularTarjetaDebito" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Valor</mat-label>
                        <input matInput type="text" appFormatoDecimal [(ngModel)]="tarjetaDebito.valor"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-1 iconos centrar">
                    <ng-container *ngIf="indiceTarjetaDebito==menosUno">
                        <button mat-icon-button mat-button (click)="agregarTarjetaDebito()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="indiceTarjetaDebito!=menosUno">
                        <button mat-icon-button mat-button (click)="actualizarTarjetaDebito()">
                            <mat-icon>update</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="mat-elevation-z8 col-12">
                    <table mat-table [dataSource]="dataSourceTarjetasDebito" matSort #MatSortTarjetaDebito="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnasTarjetasDebito"
                            [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarTarjetaDebito(i)">
                                        <i class="fa fa-times mat-icon"></i>
                                    </button>
                                </ng-container>
                            </td>
                            <ng-container *ngIf="columna.nombreColumna!='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{columna.pie}} </td>
                            </ng-container>
                            <ng-container *ngIf="columna.nombreColumna=='valor'">
                                <td mat-footer-cell *matFooterCellDef> {{calcularTotalTD() | currency}} </td>
                            </ng-container>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraTarjetasDebito"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraTarjetasDebito"
                            (click)="seleccionarTarjetaDebito(row, i)"
                            [class.selected-row]="clickedRowsTarjetasDebito.has(row)"></tr>
                        <tr mat-footer-row *matFooterRowDef="cabeceraTarjetasDebito"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="7">No hay pagos con tarjeta de débito agregados</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginatorTarjetaDebito="matPaginator"></mat-paginator>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>