<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="perfil.id!=0">
            <a class="nav-link" title="Guardar" role="button" (click)="actualizar($event)">
                <mat-icon>update</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="permiso.id!=0">
            <li class="nav-item" *ngIf="permiso.estado!=activo">
                <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                    <mat-icon>assignment_turned_in</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="permiso.estado==activo">
                <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-group form-row">
        <div class="card col-12">
            <div class="card-header">
                &nbsp;&nbsp;&nbsp;<i><u>PERFIL</u></i>
            </div>
            <div class="card-body">
                <div class="form-group form-row">
                    <div class="col-7">
                        <mat-form-field appearance="standard">
                            <mat-label>Perfil</mat-label>
                            <mat-select [(ngModel)]="perfil" [compareWith]="compareFn" 
                                (selectionChange)="consultar(perfil)" class="form-control-sm">
                                <mat-option *ngFor="let perfil of perfiles" [value]="perfil">
                                    {{perfil.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Abreviatura</mat-label>
                            <input matInput type="text" [(ngModel)]="perfil.abreviatura" [disabled]="true"
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-1">
                        <mat-form-field appearance="standard">
                            <mat-label>Mutiempresa</mat-label>
                            <mat-select [(ngModel)]="perfil.multiempresa" [disabled]="true" class="form-control-sm">
                                <mat-option value="SI">SI</mat-option>
                                <mat-option value="NO">NO</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="perfil.estado" [disabled]="true" class="form-control-sm">
                                <mat-option [value]="activo">{{activo}}</mat-option>
                                <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevo = true" (closed)="abrirPanelNuevo = false"
            [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>PERMISOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevo ? 'Ocultar crear permiso' : 'Crear nuevo permiso'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Modulo</mat-label>
                        <mat-select [(ngModel)]="permiso.menuOpcion.modulo" [compareWith]="compareFn" 
                            (selectionChange)="consultarOpciones(permiso.menuOpcion.modulo)" class="form-control-sm">
                            <mat-option *ngFor="let modulo of modulos" [value]="modulo">
                                {{modulo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Opción</mat-label>
                        <mat-select [(ngModel)]="permiso.menuOpcion" [compareWith]="compareFn" class="form-control-sm">
                            <mat-option *ngFor="let menuOpcion of menuOpciones" [value]="menuOpcion">
                                {{menuOpcion.opcion}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Operación</mat-label>
                        <input matInput type="text" [(ngModel)]="permiso.menuOpcion.operacion" class="form-control-sm"
                            [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field appearance="standard">
                        <mat-label>Agre. Menu</mat-label>
                        <mat-select [(ngModel)]="permiso.menuOpcion.menu" disabled class="form-control-sm">
                            <mat-option [value]="si">{{si}}</mat-option>
                            <mat-option [value]="no">{{no}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-1 iconos centrar" *ngIf="indexPermiso==-1">
                    <button mat-icon-button (click)="agregarPermiso()" [disabled]="deshabilitarPermisos">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div class="col-1 iconos centrar" *ngIf="indexPermiso!=-1">
                    <button mat-icon-button (click)="actualizarPermiso()" [disabled]="!deshabilitarPermisos">
                        <mat-icon>update</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelPermiso = true" (closed)="abrirPanelPermiso = false" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR PERMISOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelPermiso ? 'Ocultar administrador de permisos' : 'Administrar permiso existente'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="col-12">
                <mat-form-field appearance="standard">
                    <mat-label>Buscar permiso</mat-label>
                    <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtro($event)" #inputFiltro>
                    <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                        (click)="borrarFiltro()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort #MatSort="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                                <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                    <button mat-icon-button color="warn" (click)="eliminarPermiso(i)">
                                        <i class="fa fa-times mat-icon"></i>
                                    </button>
                                </ng-container>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabecera" 
                        (click)="seleccion(row, i)" [class.selected-row]="clickedRows.has(row)"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="6">No hay datos que coincidan con el permiso: 
                                "{{inputFiltro.value}}" 
                            </td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        #MatPaginator="matPaginator"></mat-paginator>
                </div>
                <div class="azul" *ngIf="!clickedRows.size">
                    Seleccione una fila para editar
                </div>
                <div class="azul" *ngFor="let clickedRow of clickedRows">
                    Id: {{clickedRow.id}} seleccionado
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>