<div class="contenedor">
    <nav class="navbar-light nav-fijo">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="notaDebitoCompra.id == 0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaDebitoCompra.id != 0 && notaDebitoCompra.estado != estadoAnulada">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>file_copy</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaDebitoCompra.id != 0 && notaDebitoCompra.estado != estadoAnulada">
                <a class="nav-link" title="Activar" role="button" (click)="anular($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
    <ng-template matStepLabel>Nota Debito Compra</ng-template>
    <mat-divider></mat-divider>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
            [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>DATOS PARA NOTA DEBITO COMPRA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? 'Ocultar sección' : 'Información del proveedor para nota debito de compra'}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="form-row col-9">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Ruc</mat-label>
                            <input matInput type="text" class="form-control-sm" placeholder="Cédula/RUC"
                                [formControl]="controlIdentificacionProveedor" [matAutocomplete]="identificacionProveedor">
                            <mat-autocomplete #identificacionProveedor="matAutocomplete" [displayWith]="verIdentificacionProveedor"
                                (optionSelected)="seleccionarIdentificacionProveedor()" (opened)="consultarProveedores()">
                                <mat-option *ngFor="let proveedor of filtroIdentificacionProveedores | async" [value]="proveedor">
                                    {{proveedor.identificacion}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field appearance="standard">  
                            <mat-label>Proveedor</mat-label>
                            <input matInput type="text" class="form-control-sm" placeholder="Razon Social"
                                [formControl]="controlRazonSocialProveedor" [matAutocomplete]="razonSocialproveedor"
                                oninput="this.value = this.value.toUpperCase()">
                            <mat-autocomplete #razonSocialproveedor="matAutocomplete" [displayWith]="verRazonSocialProveedor"
                                (optionSelected)="seleccionarRazonSocialProveedor()" (opened)="consultarProveedores()">
                                <mat-option *ngFor="let proveedor of filtroRazonSocialProveedores | async" [value]="proveedor">
                                    {{ proveedor.razonSocial }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Fecha</mat-label>
                            <input matInput #inputFecha="ngModel" [matDatepicker]="picker1" class="form-control-sm"
                                [(ngModel)]="notaDebitoCompra.fecha" required [max]="hoy" datePickerFormat="DD-MM-YYYY">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="inputFecha.hasError('matDatepickerMax')">Debe ser menor al día de hoy</mat-error>
                            <mat-error *ngIf="inputFecha.hasError('required')">Fecha requerida o no existe</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field appearance="standard">
                            <mat-label>Factura Compra</mat-label>
                            <input matInput type="text" class="form-control-sm" placeholder="Factura Compra"
                                [formControl]="controlFacturaCompra" [matAutocomplete]="facturaCompra"
                                oninput="this.value = this.value.toUpperCase()">
                            <mat-autocomplete #facturaCompra="matAutocomplete" [displayWith]="verFacturaCompra"
                                (optionSelected)="seleccionarFacturaCompra()">
                                <mat-option *ngFor="let facturaCompra of filtroFacturasCompras | async" [value]="facturaCompra">
                                    {{facturaCompra.numeroComprobante}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-3 linea-vertical ml-1">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Estab.</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [(ngModel)]="notaDebitoCompra.establecimiento" maxlength="3"
                                (blur)="rellenarNumeroEstablecimiento()" (change)="validarNumeroEstablecimiento()">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Punto V.</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [(ngModel)]="notaDebitoCompra.puntoVenta" maxlength="3"
                                (blur)="rellenarNumeroPuntoVenta()" (change)="validarNumeroPuntoVenta()">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Secuencial</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [(ngModel)]="notaDebitoCompra.secuencial" maxlength="9"
                                (blur)="rellenarNumeroSecuencial()" (change)="validarNumeroSecuencial()">
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field appearance="standard">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text" class="form-control-sm" [(ngModel)]="sesion.usuario.apodo"
                                [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-7">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <input matInput type="text" class="form-control-sm" [(ngModel)]="notaDebitoCompra.estado" [disabled]="true">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>LINEAS DE LA FACTURA DE COMPRA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? 'Ocultar sección' : 'Productos de la nota credito'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="col-12">
                <mat-form-field appearance="standard">
                    <mat-label>Buscar producto agregado</mat-label>
                    <input matInput oninput="this.value = this.value.toUpperCase()"
                        (keyup)="filtroFacturaCompraLinea($event)" #inputFiltroFacturaCompraLinea>
                </mat-form-field>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceFacturaCompraLinea" matSort #matSortLinea="matSort">
                        <!-- Columnas Dinamicas -->
                        <ng-container *ngFor="let columna of columnasFacturaCompraLinea"
                            [matColumnDef]="columna.nombreColumna">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                            <td mat-cell *matCellDef="let row; let i=index">
                                <ng-container *ngIf="columna.nombreColumna != 'acciones'">
                                    {{ columna.celda(row) }}
                                </ng-container>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="cabeceraFacturaCompraLinea"></tr>
                        <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraFacturaCompraLinea"></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="10">No hay productos agregados o filtrados</td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons #paginatorfacturaCompraLinea></mat-paginator>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>LINEA NOTA DEBITO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? 'Ocultar sección' : 'Productos de la nota debito'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-9">
                    <div class="centrar-titulo fondo">
                        <mat-label>PRODUCTO</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="mat-elevation-z8">
                        <div class="form-row">
                            <div class="col-8">
                                <mat-form-field appearance="standard">
                                    <mat-label>Producto</mat-label>
                                    <input matInput type="text" class="form-control-sm" placeholder="Producto"
                                        [formControl]="controlProducto" [matAutocomplete]="producto"
                                        oninput="this.value = this.value.toUpperCase()">
                                    <mat-autocomplete #producto="matAutocomplete" [displayWith]="verProducto"
                                        (optionSelected)="seleccionarProducto()" (opened)="consultarProductos()">
                                        <mat-option *ngFor="let producto of filtroProductos | async" [value]="producto">
                                            {{producto.nombre}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Medida</mat-label>
                                    <input matInput type="text"
                                        [(ngModel)]="notaDebitoCompraLinea.producto.medida.descripcion"
                                        class="form-control-sm" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Bodega</mat-label>
                                    <input matInput type="text" class="form-control-sm" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <mat-form-field appearance="standard">
                                    <mat-label>Saldo Bod</mat-label>
                                    <input matInput type="text" class="form-control-sm" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <mat-form-field appearance="standard">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput type="text" [(ngModel)]="notaDebitoCompraLinea.cantidad"
                                        (change)="calcularLinea()" class="form-control-sm">
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>Costo Unit.</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="notaDebitoCompraLinea.costoUnitario" (change)="calcularLinea()">
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <mat-form-field appearance="standard">
                                    <mat-label>IVA</mat-label>
                                    <mat-select [(ngModel)]="notaDebitoCompraLinea.impuesto" [compareWith]="compareFn"
                                        (selectionChange)="calcularLinea()" class="form-control-sm">
                                        <mat-option *ngFor="let impuesto of impuestos" [value]="impuesto">
                                            {{impuesto.porcentaje}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Desc. $</mat-label>
                                    <input matInput type="text" step="0.01"
                                        [(ngModel)]="notaDebitoCompraLinea.valorDescuentoLinea"
                                        (change)="calcularLinea()" class="form-control-sm">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Subtotal</mat-label>
                                    <input matInput type="text"
                                        [(ngModel)]="notaDebitoCompraLinea.subtotalLinea"
                                        class="form-control-sm" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-1">
                                <mat-form-field appearance="standard">
                                    <mat-label>Entregado</mat-label>
                                    <mat-select class="form-control-sm" [(ngModel)]="notaDebitoCompraLinea.entregado" [disabled]="true">
                                        <mat-option [value]="no">{{no}}</mat-option>
                                        <mat-option [value]="si">{{si}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-1 iconos centrar">
                                <button mat-icon-button mat-button (click)="crearLinea()">
                                    <mat-icon>add_shopping_cart</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-3">
                    <div class="centrar-titulo fondo">
                        <mat-label>INFORMACIÓN</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="mat-elevation-z8">
                        <div class="form-row">
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Consig.</mat-label>
                                    <input matInput type="text" [(ngModel)]="notaDebitoCompraLinea.producto.consignacion"
                                        [disabled]="true" class="form-control-sm">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Código</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="notaDebitoCompraLinea.producto.codigo" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Categoría</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="notaDebitoCompraLinea.producto.categoriaProducto.descripcion"
                                        [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Tipo de Gasto</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="notaDebitoCompraLinea.producto.tipoGasto.descripcion"
                                        [disabled]="true">
                                </mat-form-field>
                            </div>
                        </div>  
                    </mat-card>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="standard">
                        <mat-label>Buscar producto agregado</mat-label>
                        <input matInput oninput="this.value = this.value.toUpperCase()"
                            (keyup)="filtroLinea($event)" #inputFiltroLinea>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceLinea" matSort #matSortLinea="matSort">
                            <!-- Columnas Dinamicas -->
                            <ng-container *ngFor="let columna of columnasLinea"
                                [matColumnDef]="columna.nombreColumna">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }}
                                </th>
                                <td mat-cell *matCellDef="let row; let i=index">
                                    <ng-container *ngIf="columna.nombreColumna != 'acciones'">
                                        {{ columna.celda(row) }}
                                    </ng-container>
                                    <ng-container *ngIf="columna.nombreColumna == 'acciones'">
                                        <button mat-icon-button color="warn" (click)="eliminarLinea(i)">
                                            <i class="fa fa-times mat-icon"></i>
                                        </button>
                                    </ng-container>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="cabeceraLinea"></tr>
                            <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraLinea">
                            </tr>
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="10">No hay productos agregados o filtrados
                                </td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons #paginatorLinea></mat-paginator>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="form-group form-row">
                    <div class="col-8">
                        <br>
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Comentario</mat-label>
                                <textarea matInput [(ngModel)]="notaDebitoCompra.comentario"
                                    placeholder="Referente a la nota de credito..." class="form-control"
                                    rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <mat-card>
                            <div class="form-group form-row">
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text"
                                            [value]="formateaNumero(notaDebitoCompra.subtotal)"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Descuento :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text" [value]="formateaNumero(notaDebitoCompra.descuento)"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal Gravado :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text"
                                            [value]="formateaNumero(notaDebitoCompra.subtotalGravado)"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal No Gravado :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text"
                                            [value]="formateaNumero(notaDebitoCompra.subtotalNoGravado)"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Importe IVA :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text"
                                            [value]="formateaNumero(notaDebitoCompra.importeIva)"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label class="negrita">TOTAL :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text "
                                            [value]="formateaNumero(notaDebitoCompra.total)"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR NOTAS DEBITO DE COMPRA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de nota debito de compras' : 'Editar nota debito de compras existentes'}}
                    <mat-icon>group</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <mat-form-field appearance="standard">
                <mat-label>Buscar nota debito de compra</mat-label>
                <input matInput (keyup)="filtro($event)" placeholder="Ej. 001" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccionar(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabecera;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el grupo
                            "{{input.value}}"
                        </td>
                    </tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>