.fixed-top{
    z-index: 1000!important;
    right: 20px!important;
}

.titulo{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-bottom:1px solid orange;
}