.fixed-top{
    z-index: 1000!important;
    right: 20px!important;
}

.logo-emp{
    width: 60px!important;
    height: 40px!important;
}

.logo-erp{
    width: 120px!important;
}

.avatar-user{
    width: 40px!important;
    height: 40px!important;
}

.titulo{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-bottom:1px solid orange;
}

.titulo2{
    color: orange;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-bottom:1px solid orange;
}