<div class="contenedor">
    <div style="height: 100vh;">
        <mat-toolbar class="matToolbar example-toolbar">
            <h1 class="example-app-name">Reportes</h1>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-sidenav-container class="example-sidenav-container">
            <mat-sidenav #snav mode="over" fixedTopGap="56" position="end">
                <mat-nav-list>
                    <a mat-list-item (click)="verReporte('CIERRE')">
                        <mat-icon class="azul">home</mat-icon>
                        <span class="azul m-l-5">Cierre de Caja</span>
                    </a>
                    <a mat-list-item (click)="verReporte('OTRO')">
                        <mat-icon class="azul">videocam</mat-icon>
                        <span class="azul m-l-5">Otro</span>
                    </a>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <app-kardex-mercaderia *ngIf="verKardexMercaderia"></app-kardex-mercaderia>
                <app-caja *ngIf="verCierreCaja"></app-caja>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
