<div class="contenedor">
    <nav class="navbar-light nav-fijo">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="notaDebitoCompra.id==0">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>file_copy</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaDebitoCompra.id==0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaDebitoCompra.id!=0">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaDebitoCompra.id!=0">
                <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                    <mat-icon>check</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="notaDebitoCompra.id!=0">
                <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
    <ng-template matStepLabel>Nota Debito de Compra</ng-template>
    <mat-divider></mat-divider>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>DATOS PARA NOTA DEBITO DE COMPRA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? 'Ocultar sección' : 'Información del cliente para nota debito de compra'}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-8">
                    <mat-form-field appearance="standard">
                        <mat-label>Proveedor</mat-label>
                        <mat-autocomplete #proveedor="matAutocomplete" [displayWith]="verProveedor"
                            (optionSelected)="seleccionarProveedor()">
                            <mat-option *ngFor="let proveedor of filtroProveedores | async" [value]="proveedor">
                                {{proveedor.razonSocial}}
                            </mat-option>
                        </mat-autocomplete>
                        <input matInput type="text" class="form-control-sm" placeholder="Razon Social"
                            [formControl]="seleccionProveedor" [matAutocomplete]="proveedor">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Ruc</mat-label>
                        <input matInput type="text" [(ngModel)]="notaDebitoCompra.facturaCompra.proveedor.identificacion" class="form-control-sm" [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="standard">
                        <mat-label>Direccion</mat-label>
                        <input matInput type="text" [(ngModel)]="notaDebitoCompra.facturaCompra.proveedor.direccion" class="form-control-sm" [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="form-row col-4">
                    <ng-container *ngFor="let telefono of notaDebitoCompra.facturaCompra.proveedor.telefonosProveedor; let i=index ">
                        <div class="col-9">
                            <mat-form-field appearance="standard">
                                <mat-label>Teléfono</mat-label>
                                <b matPrefix>+593 &nbsp;</b>
                                <input matInput type="tel" [value]="telefono.numero" class="form-control-sm"
                                    [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-3 iconos">
                            <button mat-icon-button [disabled]="true">
                                <mat-icon class="iconos-peque">close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="form-row col-4">
                    <ng-container *ngFor="let celular of notaDebitoCompra.facturaCompra.proveedor.celularesProveedor; let i=index ">
                        <div class="col-9">
                            <mat-form-field appearance="standard">
                                <mat-label>Celular</mat-label>
                                <b matPrefix>+593 &nbsp;</b>
                                <input matInput type="tel" [value]="celular.numero" class="form-control-sm"
                                    [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-3 iconos">
                            <button mat-icon-button [disabled]="true">
                                <mat-icon class="iconos-peque">close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="form-row col-4">
                    <ng-container *ngFor="let correo of notaDebitoCompra.facturaCompra.proveedor.correosProveedor; let i=index ">
                        <div class="col-9">
                            <mat-form-field appearance="standard">
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput type="text " [(ngModel)]="correo.email" class="form-control-sm "
                                    [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-3 iconos">
                            <button mat-icon-button [disabled]="true">
                                <mat-icon class="iconos-peque">close</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Fecha</mat-label>
                        <input matInput type="date" value="{{notaDebitoCompra.fecha | date:'yyyy-MM-dd'}}"
                            class="form-control-sm" [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Secuencia</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="notaDebitoCompra.secuencia"
                            [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Usuario</mat-label>
                        <input matInput type="text" class="form-control-sm"
                            [(ngModel)]="notaDebitoCompra.sesion.usuario.nombre" [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Estado</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="notaDebitoCompra.estado" [disabled]="true">
                            <mat-option value="EMITIDA">EMITIDA</mat-option>
                            <mat-option value="ANULADA">ANULADA</mat-option>
                            <mat-option value="FACTURADA">FACTURADA</mat-option>
                            <mat-option value="NO FACTURADA">NO FACTURADA</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="standard">
                        <mat-label>Factura de Compra</mat-label>
                        <mat-autocomplete #facturaCompra="matAutocomplete" [displayWith]="verFacturaCompra"
                            (optionSelected)="seleccionarFacturaCompra()">
                            <mat-option *ngFor="let facturaCompra of filtroFacturasCompras | async" [value]="facturaCompra">
                                {{facturaCompra.secuencia}}
                            </mat-option>
                        </mat-autocomplete>
                        <input matInput type="text" class="form-control-sm" placeholder="Secuencia Factura de Compra"
                            [formControl]="seleccionFacturaCompra" [matAutocomplete]="facturaCompra">
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>LINEA NOTA DEBITO DE COMPRA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelOpenState ? 'Ocultar sección' : 'Productos de la nota debito de compra'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="mat-elevation-z8 col-12">
                    <table mat-table [dataSource]="dataSourceLinea" matSort>
                        <!-- Nombre Columna -->
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea"> {{notaDebitoCompraLinea.producto.codigo}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea"> {{notaDebitoCompraLinea.producto.nombre}}
                            </td>
                        </ng-container>
                        <!-- Descripcion Columna -->
                        <ng-container matColumnDef="medida">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Med </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea"> {{notaDebitoCompraLinea.producto.medida.abreviatura}} </td>
                        </ng-container>
                        <!-- Cantidad Columna -->
                        <ng-container matColumnDef="cantidad">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cant </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea"> {{notaDebitoCompraLinea.cantidad}} </td>
                        </ng-container>
                        <!-- Valor Columna -->
                        <ng-container matColumnDef="costoUnitario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Unit </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea"> ${{notaDebitoCompraLinea.costoUnitario }} </td>
                        </ng-container>
                        <!-- Descuento Columna -->
                        <ng-container matColumnDef="valorDescuento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc. </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea">
                                ${{notaDebitoCompraLinea.valorDescuentoLinea }}
                            </td>
                        </ng-container>
                        <!-- Descuento% Columna -->
                        <ng-container matColumnDef="porcentajeDescuento">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Desc% </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea">
                                ${{notaDebitoCompraLinea.porcentajeDescuentoLinea }}
                            </td>
                        </ng-container>
                        <!-- Impuesto Columna -->
                        <ng-container matColumnDef="impuesto">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea">
                                {{notaDebitoCompraLinea.producto.impuesto.porcentaje}}% </td>
                        </ng-container>
                        <ng-container matColumnDef="bodega">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> BOD </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea">
                                {{notaDebitoCompraLinea.bodega.nombre}} </td>
                        </ng-container>
                        <!-- Total Columna -->
                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                            <td mat-cell *matCellDef="let notaDebitoCompraLinea">
                                ${{notaDebitoCompraLinea.totalSinDescuentoLinea}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnasLinea"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasLinea;"></tr>
                    </table>
                    <ng-container>
                        <mat-paginator #paginatorLinea [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                    </ng-container>
                </div>
                <mat-divider></mat-divider>
                <div class="form-group form-row">
                    <div class="form-row col-3 pl-3 pr-3">
                        <div class="col-12"></div>
                        <div class="col-6">
                            <mat-form-field appearance="standard">
                                <mat-label>Desc $</mat-label>
                                <input matInput type="text" min="0" max="100" step="0.01"
                                    [(ngModel)]="notaDebitoCompra.valorDescuentoTotal"
                                    (change)="seleccionarValorDescuentoTotal()" [disabled]="deshabilitarDescuento" class="form-control-sm">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="standard">
                                <mat-label>Desc %</mat-label>
                                <input matInput type="text" min="0" max="100" step="0.01"
                                    [(ngModel)]="notaDebitoCompra.porcentajeDescuentoTotal"
                                    (change)="seleccionarPorcentajeDescuentoTotal()" [disabled]="deshabilitarDescuento" class="form-control-sm">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-5 linea-vertical">
                        <br>
                        <div class="col-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Comentario</mat-label>
                                <textarea matInput [(ngModel)]="notaDebitoCompra.comentario"
                                    placeholder="Referente a la nota de debito..." class="form-control" rows="3"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-4">
                        <mat-card>
                            <div class="form-group form-row">
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text" [(ngModel)]="notaDebitoCompra.subtotalSinDescuento"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Descuento :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text" [(ngModel)]="notaDebitoCompra.descuentoTotal"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal Grabado :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text " [(ngModel)]="notaDebitoCompra.subtotalBase12SinDescuento"
                                            class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Subtotal No Grabado :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text " [(ngModel)]="notaDebitoCompra.subtotalBase0SinDescuento"
                                            class="form-control-sm " [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label>Importe IVA :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text " [(ngModel)]="notaDebitoCompra.ivaSinDescuento"
                                            class="form-control-sm " [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-7 negrita centrar-vertical-izq">
                                    <mat-label class="negrita">TOTAL :</mat-label>
                                </div>
                                <div class="col-5">
                                    <mat-form-field appearance="standard">
                                        <input matInput type="text " [(ngModel)]="notaDebitoCompra.totalSinDescuento" class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR NOTAS DEBITO DE COMPRA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de nota debito de compras' : 'Editar nota debito de compras existentes'}}
                    <mat-icon>group</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar nota debito de compra</mat-label>
                <input matInput (keyup)="filtro($event)" placeholder="Ej. 001" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)" *matRowDef="let row; columns: cabecera;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el grupo "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>