<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="empresa.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="empresa.id!=0">
            <li class="nav-item" *ngIf="!editarEmpresa">
                <a class="nav-link" title="Actualizar" role="button" (click)="editar($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="editarEmpresa">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
        </ng-container>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="empresa.id!=0">
            <a class="nav-link" title="Eliminar" role="button" (click)="eliminar($event)">
                <mat-icon>delete</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoEmpresa = true" (closed)="abrirPanelNuevoEmpresa = false"
            [expanded]="abrirPanelNuevoEmpresa">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>EMPRESA</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoEmpresa ? 'Ocultar crear empresa' : 'Crear nueva empresa'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-10">
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Identificación</mat-label>
                            <input matInput type="text" [(ngModel)]="empresa.identificacion" [disabled]="!editarEmpresa"
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-8">
                        <mat-form-field appearance="standard">
                            <mat-label>Razón Social</mat-label>
                            <input matInput type="text" [(ngModel)]="empresa.razonSocial"
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                            <button mat-button *ngIf="empresa.razonSocial" matSuffix mat-icon-button
                                (click)="empresa.razonSocial=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" [(ngModel)]="empresa.codigo" class="form-control-sm"
                                [disabled]="true">
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field appearance="standard">
                            <mat-label>Nombre Comercial</mat-label>
                            <input matInput type="text" [(ngModel)]="empresa.nombreComercial"
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                            <button mat-button *ngIf="empresa.nombreComercial" matSuffix mat-icon-button
                                (click)="empresa.nombreComercial=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-1">
                        <mat-checkbox [(ngModel)]="obligadoContabilidad" (change)="estadoObligadoContabilidad($event)" class="form-control-sm"
                            color="primary">Oblig.</mat-checkbox>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="empresa.estado" [disabled]="!editarEmpresa"
                                class="form-control-sm">
                                <mat-option [value]="activo">{{activo}}</mat-option>
                                <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-2">
                    <mat-card class="foto">
                        <img *ngIf="!empresa.logo" width="100%" height="100%" src="assets/images/empresas/empresa1.jpg"> 
                        <img *ngIf="empresa.logo" width="100%" height="100%" [src]="empresa.logo"> 
                    </mat-card>
                    <input type="file" (change)="capturarFile($event)">
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelUbicacionEmpresa = true" (closed)="abrirPanelUbicacionEmpresa = false"
            [expanded]="abrirPanelUbicacionEmpresa">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>DIRECCIONES</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelUbicacionEmpresa ? 'Ocultar crear direcciones' : 'Crear direcciones del cliente'}}
                    <mat-icon>location_on</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-8">
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Direccion</mat-label>
                            <input matInput type="text" [(ngModel)]="empresa.direccion.direccion"
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                            <button mat-button *ngIf="empresa.direccion.direccion" matSuffix mat-icon-button
                                (click)="empresa.direccion.direccion=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Provincia</mat-label>
                            <mat-select type="text" [(ngModel)]="empresaProvincia"
                                (selectionChange)="provincia($event.value)" class="form-control-sm">
                                <mat-option *ngFor="let provincia of provincias" [value]="provincia.provincia">
                                    {{provincia.provincia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Canton</mat-label>
                            <mat-select type="text" [(ngModel)]="empresaCanton" (selectionChange)="canton($event.value)"
                                class="form-control-sm">
                                <mat-option *ngFor="let canton of cantones" [value]="canton.canton">
                                    {{canton.canton}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Parroquia</mat-label>
                            <mat-select type="text" [(ngModel)]="empresaParroquia" class="form-control-sm"
                                (selectionChange)="parroquia($event.value)">
                                <mat-option *ngFor="let parroquia of parroquias" [value]="parroquia.parroquia">
                                    {{parroquia.parroquia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <section class="form-row">
                        <div class="form-row col-4">
                            <div class="col-9">
                                <mat-form-field appearance="standard">
                                    <mat-label>Teléfono</mat-label>
                                    <b matPrefix>+593 &nbsp;</b>
                                    <input matInput type="tel" [(ngModel)]="telefono.numero" class="form-control-sm"
                                        (change)="validarTelefono()" placeholder="03-2999-123" oninput="this.value = this.value.replace
                                        ( /^(\d{2})(\d{4})(\d{3})$/, '$1-$2-$3')">
                                </mat-form-field>
                            </div>
                            <div class="col-3 iconos">
                                <button mat-icon-button>
                                    <mat-icon (click)="crearTelefono()">add</mat-icon>
                                </button>
                            </div>
                            <ng-container *ngFor="let telefono of empresa.telefonos; let i=index ">
                                <div class="col-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Teléfono</mat-label>
                                        <b matPrefix>+593 &nbsp;</b>
                                        <input matInput type="tel" [value]="telefono.numero" class="form-control-sm"
                                            disabled (change)="validarTelefono()" placeholder="03-2999-123" oninput="this.value = this.value.replace
                                        ( /^(\d{2})(\d{4})(\d{3})$/, '$1-$2-$3')">
                                    </mat-form-field>
                                </div>
                                <div class="col-3 iconos">
                                    <button mat-icon-button>
                                        <mat-icon class="iconos-peque">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button>
                                        <mat-icon class="iconos-peque" (click)="eliminarTelefono(i)">close</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-row col-4">
                            <div class="col-9">
                                <mat-form-field appearance="standard">
                                    <mat-label>Celular</mat-label>
                                    <b matPrefix>+593 </b>
                                    <input matInput type="tel" [(ngModel)]="celular.numero" class="form-control-sm"
                                        (change)="validarCelular()" placeholder="09-9999-1234" oninput="this.value = this.value.replace
                                            ( /^(\d{2})(\d{4})(\d{4})$/, '$1-$2-$3')">
                                </mat-form-field>
                            </div>
                            <div class="col-3 iconos">
                                <button mat-icon-button>
                                    <mat-icon (click)="crearCelular()">add</mat-icon>
                                </button>
                            </div>
                            <ng-container *ngFor="let celular of empresa.celulares; let i=index ">
                                <div class="col-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Celular</mat-label>
                                        <b matPrefix>+593 &nbsp;</b>
                                        <input matInput type="tel" [value]="celular.numero" class="form-control-sm"
                                            disabled (change)="validarCelular()" placeholder="09-9999-1234" oninput="this.value = this.value.replace
                                        ( /^(\d{2})(\d{4})(\d{4})$/, '$1-$2-$3')">
                                    </mat-form-field>
                                </div>
                                <div class="col-3 iconos">
                                    <button mat-icon-button>
                                        <mat-icon class="iconos-peque">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button>
                                        <mat-icon class="iconos-peque" (click)="eliminarCelular(i)">close</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-row col-4">
                            <div class="col-9">
                                <mat-form-field appearance="standard">
                                    <mat-label>Correo electrónico</mat-label>
                                    <input matInput placeholder="ejemplo@futiristic.com" [formControl]="correoEmpresa"
                                        oninput="this.value = this.value.toLowerCase()" class="form-control-sm ">
                                    <mat-error *ngIf="correoEmpresa.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-3 iconos">
                                <button mat-icon-button>
                                    <mat-icon (click)="crearCorreo()">add</mat-icon>
                                </button>
                            </div>
                            <ng-container *ngFor="let correo of empresa.correos; let i=index ">
                                <div class="col-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Correo electrónico</mat-label>
                                        <input matInput type="text " [value]="correo.email"
                                            oninput="this.value = this.value.toLowerCase()" class="form-control-sm"
                                            disabled (change)="validarCorreo()" placeholder="ejemplo@futiristic.com">
                                    </mat-form-field>
                                </div>
                                <div class="col-3 iconos">
                                    <button mat-icon-button>
                                        <mat-icon class="iconos-peque">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button>
                                        <mat-icon class="iconos-peque" (click)="eliminarCorreo(i)">close</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </section>
                </div>
                <div class="col-4 text-center linea-vertical">
                    <!--mat-label>Georeferencia</mat-label-->
                    <mat-card title="Doble click para maximizar">
                        <google-map width="100%" [height]="180" [center]="posicionCentral" [zoom]="15" [options]="options" 
                            (dblclick)="dialogoMapas()">
                            <map-marker #markerEmpresa="mapMarker" *ngIf="posicionGeografica" [position]="posicionGeografica"
                                (mapClick)="openInfoWindow(markerEmpresa, infoWindowEmpresa)"></map-marker>
                            <map-info-window #infoWindowEmpresa="mapInfoWindow">
                                <div>
                                    <p>Latitud: {{ posicionGeografica?.lat }}</p>
                                    <p>Longitud: {{ posicionGeografica?.lng }}</p>
                                </div>
                            </map-info-window>
                        </google-map>
                    </mat-card>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdminEmpresa = true" (closed)="abrirPanelAdminEmpresa = false"
            [expanded]="abrirPanelAdminEmpresa">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR EMPRESAS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminEmpresa ? 'Ocultar administrador de empresas' : 'Editar
                    empresa existente'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar empresa</mat-label>
                <input matInput (keyup)="filtroEmpresa($event)" #inputFiltroEmpresa>
                <button mat-button *ngIf="inputFiltroEmpresa.value" matSuffix mat-icon-button
                    (click)="borrarFiltroEmpresa()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="observableDSEmpresa.value" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnasEmpresa" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="cabeceraEmpresa"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabeceraEmpresa;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con la empresa:
                            "{{inputFiltroEmpresa.value}}"
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>