<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                <mat-icon>search</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                <mat-icon>edit</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="eliminar($event)">
                <mat-icon>trash</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-row">
        <div class="form-group col-4">
            <mat-form-field appearance="standard" class="grande">
                <mat-label>Codigo</mat-label>
                <input matInput type="text" [(ngModel)]="usuarioBuscar.codigo" (change)="cambiarBuscarCodigo()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
        <div class="form-group col-4">
            <mat-form-field appearance="standard" class="grande">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" [(ngModel)]="usuarioBuscar.nombre" (change)="cambiarBuscarNombre()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
        <div class="form-group col-4">
            <mat-form-field appearance="standard" class="grande">
                <mat-label>Correo</mat-label>
                <input matInput type="text" [(ngModel)]="usuarioBuscar.correo" (change)="cambiarBuscarCorreo()" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>USUARIOS</h2>
            <hr>
            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                <thead class="table-active">
                    <tr>
                        <th>SEL</th>
                        <th>COD</th>
                        <th>NOMBRE</th>
                        <th>CORREO</th>
                        <th>IDENT</th>
                        <th>PUNTO VENTA</th>
                        <th>PERFIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(usuario)">
                        </td>
                        <td>{{usuario.codigo}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.identificacion}}</td>
                        <td>{{usuario.puntoVenta.descripcion}}</td>
                        <td>{{usuario.perfil.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>