<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="origenIngreso.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="origenIngreso.id!=0">
            <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                <mat-icon>update</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="origenIngreso.id!=0">
            <li class="nav-item" *ngIf="origenIngreso.estado!=activo">
                <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                    <mat-icon>assignment_turned_in</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="origenIngreso.estado==activo">
                <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevo = true" (closed)="abrirPanelNuevo = false" 
            [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>ORIGEN DE LOS INGRESOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevo ? 'Ocultar crear origen de ingreso' : 'Crear nuevo origen de ingreso'}}
                    <mat-icon>add_business</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Codigo</mat-label>
                        <input matInput type="text" [(ngModel)]="origenIngreso.codigo" class="form-control-sm"
                            [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-5">
                    <mat-form-field appearance="standard">
                        <mat-label>Descripción</mat-label>
                        <input matInput type="text" [(ngModel)]="origenIngreso.descripcion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Abreviatura</mat-label>
                        <input matInput type="text" [(ngModel)]="origenIngreso.abreviatura"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="origenIngreso.estado" [disabled]="true" class="form-control-sm">
                            <mat-option [value]="activo">{{activo}}</mat-option>
                            <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false"
            [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR ORIGEN DE LOS INGRESOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de origen de los ingresos' : 'Administrar origen de ingresos existente'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar origen de ingreso</mat-label>
                <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtro($event)" #inputFiltro>
                <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                    (click)="borrarFiltro()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabecera;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el origen de los ingresos: 
                            "{{inputFiltro.value}}" 
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>