<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="cuentaContable.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="cuentaContable.id!=0">
            <li class="nav-item" *ngIf="!edicion">
                <a class="nav-link" title="Editar" role="button" (click)="editar($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="edicion">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
        </ng-container>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="cuentaContable.id!=0">
            <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                <mat-icon>check</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="cuentaContable.id!=0">
            <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                <mat-icon>delete</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevo = true" (closed)="abrirPanelNuevo = false"
            [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>CUENTA CONTABLE</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevo ? 'Ocultar crear cuenta contable' : 'Crear nuevo cuenta contable'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Cuenta</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.cuenta" class="form-control-sm"
                            [disabled]="true">
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Descripción</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.descripcion" [disabled]="!edicion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Clasificación</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.clasificacion" [disabled]="!edicion"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Nivel</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.nivel" [disabled]="!edicion"
                            class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Estado</mat-label>
                        <mat-select [(ngModel)]="cuentaContable.estado" [disabled]="!edicion" class="form-control-sm">
                            <mat-option [value]="activo">{{activo}}</mat-option>
                            <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false"
            [expanded]="abrirPanelAdmin">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>PLAN DE CUENTAS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de cuenta contable' : 'Editar cueta contable existente'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <app-tabla-cuenta-contable (cuentaContableSeleccionado)="seleccion($event)">
            </app-tabla-cuenta-contable>
        </mat-expansion-panel>
    </mat-accordion>
</div>