<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <ng-container *ngIf="abrirPanelCuentaContable">
            <li class="nav-item">
                <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                    <mat-icon>note_add</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Borrar" role="button" (click)="borrar($event)">
                    <mat-icon>backspace</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="cuentaContable.id==0">
                <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="cuentaContable.id!=0">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="abrirPanelAdminCuentaContable">
            <li class="nav-item">
                <a class="nav-link" title="Buscar" role="button" (click)="buscar($event)">
                    <mat-icon>search</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Editar" role="button" (click)="actualizarLeer($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Eliminar" role="button" (click)="eliminar($event)">
                    <mat-icon>delete</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelCuentaContable = true"
            (closed)="abrirPanelCuentaContable = false" [expanded]="abrirPanelCuentaContable">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>CUENTA CONTABLE</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelCuentaContable ? 'Ocultar crear cuenta contable' : 'Crear un nueva cuenta
                    contable'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <!--div class="col-12 centrar-titulo fondo">
                    CUENTAS CONTABLES
                </div-->
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Descripcion</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.descripcion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Clasificación</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.clasificacion"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>Nivel</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.nivel"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="standard">
                        <mat-label>FE</mat-label>
                        <input matInput type="text" [(ngModel)]="cuentaContable.fe"
                            oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                    </mat-form-field>
                </div>

                <!--div class="col-1 iconos centrar-vertical">
                    <button mat-icon-button>
                        <mat-icon (click)="nuevo($event)">add</mat-icon>
                    </button>
                </div-->
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="abrirPanelAdminCuentaContable = true"
            (closed)="abrirPanelAdminCuentaContable = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR PLAN DE CUENTAS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminCuentaContable ? 'Ocultar administrador de cuentas contables' : 'Editar
                    plan de cuentas'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar en el plan de cuentas</mat-label>
                <input matInput (keyup)="filtroCuentaContable($event)" placeholder="Ej. 1.1.1" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceCuentaContable" matSort>

                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnasCuentaContable" [matColumnDef]="columna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna }} </th>
                        <td mat-cell *matCellDef="let row"> {{row[columna]}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnasCuentaContable"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: columnasCuentaContable;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos en el plan que coincidan con la cuenta
                            "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>