<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="producto.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="producto.id!=0">
            <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                <mat-icon>update</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="producto.id!=0">
            <li class="nav-item" *ngIf="producto.estado!=activo">
                <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                    <mat-icon>assignment_turned_in</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="producto.estado==activo">
                <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                    <mat-icon>delete_forever</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevo = true" (closed)="abrirPanelNuevo = false" [expanded]="abrirPanelNuevo">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>PRODUCTO</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevo ? 'Ocultar crear producto' : 'Crear nuevo producto'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-8 pr-3">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Grupo Prod.</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="producto.grupoProducto.grupo"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Subgrupo Prod.</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="producto.grupoProducto.subgrupo"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Sección</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="producto.grupoProducto.seccion"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-1 iconos">
                        <button mat-icon-button aria-label="Ver GP" (click)="dialogoGruposProductos()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Categoría</mat-label>
                            <input matInput type="text" [(ngModel)]="producto.categoriaProducto.descripcion" [disabled]="true" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <ng-container *ngIf="esBien">
                        <div class="col-9">
                            <mat-form-field appearance="standard">
                                <mat-label>Nombre Producto</mat-label>
                                <input matInput type="text" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="producto.nombre" class="form-control-sm">
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!esBien">
                        <div class="col-7">
                            <mat-form-field appearance="standard">
                                <mat-label>Nombre Servicio / Activo Fijo</mat-label>
                                <input matInput type="text" oninput="this.value = this.value.toUpperCase()"
                                    [(ngModel)]="producto.nombre" class="form-control-sm">
                                <button mat-button matSuffix mat-icon-button>
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div class="col-1">
                        <mat-form-field appearance="standard">
                            <mat-label>IVA%</mat-label>
                            <mat-select [(ngModel)]="producto.impuesto" [compareWith]="compareFn" class="form-control-sm">
                                <mat-option *ngFor="let impuesto of impuestos" [value]="impuesto">
                                    {{impuesto.porcentaje}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <ng-container *ngIf="!esBien">
                        <div class="col-1">
                            <mat-form-field appearance="standard">
                                <mat-label>PVP</mat-label>
                                <input matInput type="text" [(ngModel)]="pvpServicioAF"
                                    class="form-control-sm">
                            </mat-form-field>
                        </div> 
                        <div class="col-1 iconos">
                            <button mat-icon-button mat-button [disabled]="producto.categoriaProducto.id==0"
                                (click)="calcularPreciosServicios()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="form-row col-4 linea-vertical">
                    <div class="col-7">
                        <mat-form-field appearance="standard">
                            <mat-label>Proveedor</mat-label>
                            <mat-select [(ngModel)]="producto.proveedor" [compareWith]="compareFn" class="form-control-sm">
                                <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor">{{proveedor.razonSocial}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-5">
                        <mat-form-field appearance="standard">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" [(ngModel)]="producto.codigo" [disabled]="true" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Gasto</mat-label>
                            <mat-select [(ngModel)]="producto.tipoGasto.id" class="form-control-sm">
                                <mat-option *ngFor="let tipoGasto of tiposGastos" [value]="tipoGasto.id">
                                    {{tipoGasto.descripcion}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field appearance="standard">
                            <mat-label>Consig.</mat-label>
                            <mat-select type="text" [(ngModel)]="producto.consignacion" class="form-control-sm">
                                <mat-option [value]="si">{{si}}</mat-option>
                                <mat-option [value]="no">{{no}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="producto.estado" class="form-control-sm" [disabled]="true">
                                <mat-option [value]="activo">{{activo}}</mat-option>
                                <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>    
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelKardex = true" (closed)="abrirPanelKardex = false" 
            [expanded]="abrirPanelKardex">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>KARDEX Y PRECIOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelKardex ? 'Ocultar crear kardex inicial' : 'Crear el kardex inicial'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row" *ngIf="esBien">
                <div class="col-8">
                    <div class="centrar-titulo fondo">
                        <mat-label>INICIAR KARDEX</mat-label>
                    </div>
                    <mat-divider></mat-divider> 
                    <mat-card class="mat-elevation-z8">
                        <div class="form-row">
                            <div class="col-4">
                                <mat-form-field appearance="standard">
                                    <mat-label>Medida</mat-label>
                                    <mat-select [(ngModel)]="producto.medida" [compareWith]="compareFn" 
                                        [disabled]="deshabilitarIniciarKardex" class="form-control-sm">
                                        <mat-option *ngFor="let medida of medidas" [value]="medida" >
                                            {{medida.descripcion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2" >
                                <mat-form-field appearance="standard">
                                    <mat-label>Cant.</mat-label>
                                    <input matInput type="text" [(ngModel)]="saldoInicialKardex" class="form-control-sm"
                                        (change)="calcularCostoTotalKardex()" [disabled]="deshabilitarIniciarKardex">
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Costo Unit.</mat-label>
                                    <input matInput type="text" [(ngModel)]="costoUnitarioKardex" class="form-control-sm"
                                        (change)="calcularCostoTotalKardex()" [disabled]="deshabilitarIniciarKardex" >
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Costo Total.</mat-label>
                                    <input matInput type="text" [(ngModel)]="costoTotalKardex" class="form-control-sm" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <div class="col-2 iconos">
                                <button mat-icon-button mat-button (click)="calcularPreciosBienes()" 
                                    [disabled]="deshabilitarIniciarKardex">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-4">
                    <div class="centrar-titulo col-12 fondo">
                        <mat-label>BODEGA</mat-label>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="mat-elevation-z8">
                        <div class="form-group form-row">
                            <div class="col-8">
                                <mat-form-field appearance="standard">
                                    <mat-label>Bodega</mat-label>
                                    <mat-select [(ngModel)]="producto.kardexs[0].bodega" [compareWith]="compareFn" 
                                    [disabled]="deshabilitarIniciarKardex" class="form-control-sm">
                                        <mat-option *ngFor="let bodega of bodegas" [value]="bodega" >
                                            {{bodega.nombre}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <mat-accordion class="headers-align" *ngIf="producto.precios.length>0">
                <mat-expansion-panel (opened)="abrirPanelNuevoPrecio = true" (closed)="abrirPanelNuevoPrecio = false" 
                    [expanded]="abrirPanelNuevoPrecio">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>PRECIOS</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            <span class="lowercase">{{abrirPanelNuevoPrecio ? 'Ocultar' : 'Ver' }} precio de cada segmento</span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div class="form-group form-row">
                        <div class="col-12 mat-elevation-z8 centrar">
                            <div class="centrar-titulo azul">
                                <mat-label>PRECIO SUGERIDO Y PRECIO DE VENTA</mat-label>
                            </div>
                            <table mat-table [dataSource]="dataSourcePrecios"  matSort #MatSort2="matSort">
                                <!-- Columnas Dinamicas -->
                                <ng-container *ngFor="let columna of columnasPrecios"
                                    [matColumnDef]="columna.nombreColumna">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="centrarCabecera"> {{ columna.cabecera }} </th>
                                    <td mat-cell *matCellDef="let row; let i=index">
                                        <ng-container *ngIf="columna.nombreColumna!='margenGanancia' && columna.nombreColumna!='precioVentaPublicoManual'">
                                            {{ columna.celda(row) }}
                                        </ng-container>
                                        <ng-container *ngIf="columna.nombreColumna=='margenGanancia'">
                                            <mat-form-field floatLabel="never">
                                                <input matInput [(ngModel)]="row.margenGanancia" 
                                                (change)="actualizarmMargenGanancia(i, row.margenGanancia)">
                                            </mat-form-field>
                                        </ng-container>
                                        <ng-container *ngIf="columna.nombreColumna=='precioVentaPublicoManual'">
                                            <mat-form-field floatLabel="never">
                                                <input matInput [(ngModel)]="row.precioVentaPublicoManual" 
                                                (change)="actualizarPVPManual(i, row.precioVentaPublicoManual)">
                                            </mat-form-field>
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="cabeceraPrecios"></tr>
                                <tr mat-row *matRowDef="let row; columns: cabeceraPrecios;"
                                    [class.selected-row]="clickedRowsPrecios.has(row)"></tr>
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="5">No hay precios agregados</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #MatPaginator2="matPaginator"></mat-paginator>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>    
    <mat-accordion class="headers-align">    
        <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false" [expanded]="abrirPanelAdmin">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR PRODUCTOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdmin ? 'Ocultar administrador de productos' : 'Editar productos existentes'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar productos</mat-label>
                <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtro($event)" placeholder="Ej. AR" #inputFiltro>
                <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                    (click)="borrarFiltro()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort #MatSort1="matSort">
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabecera;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el producto: 
                            "{{inputFiltro.value}}"
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #MatPaginator1="matPaginator"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>