<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="buscar($event)">
                <mat-icon>search</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                <mat-icon>edit</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="eliminar($event)">
                <mat-icon>delete</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <mat-icon>archive</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                <mat-icon>publish</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-row">
        <div class="form-group col-12">
            <mat-form-field appearance="standard">
                <mat-label>Secuencia Factura</mat-label>
                <input matInput type="text" [(ngModel)]="facturaBuscar.secuencia" (change)="buscar(null)" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <mat-form-field appearance="standard">
                <mat-label>Razon Social Cliente</mat-label>
                <input matInput type="text" [(ngModel)]="facturaBuscar.cliente.razonSocial" (change)="buscar(null)" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>FACTURAS</h2>
            <hr>
            <table class="table table-hover table-bordered" style="font-size: 0.7rem">
                <thead class="table-active">
                    <tr>
                        <th>SEL</th>
                        <th>CODIGO</th>
                        <th>SECUENCIA</th>
                        <th>CLIENTE</th>
                        <th>FECHA</th>
                        <th>TOTAL</th>
                        <th>COMENTARIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let factura of facturas">
                        <td>
                            <input type="radio" name="seleccion" (click)="seleccion(factura)">
                        </td>
                        <td>{{factura.codigo}}</td>
                        <td>{{factura.secuencia}}</td>
                        <td>{{factura.cliente.razonSocial}}</td>
                        <td>{{factura.fecha | date:'yyyy-MM-dd'}}</td>
                        <td>{{factura.totalConDescuento}}</td>
                        <td>{{factura.comentario}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>