//SCSS DE COMPONENTE FACTURA
.resaltar{
    font-weight: bold;
    color: rgba(255, 0, 0, 0.63);
}

.mat-icon-button{
    width: 25px;
    height: 25px;
    line-height: 0px
}

/*oculta el ancho del autocomplete*/
.mat-autocomplete{
    position: fixed;
    width: 10%;
}

.mat-stepper-horizontal {
    margin-top: 0px;
}

section>.form-row{
    margin-right: 0px;
    margin-left: 0px;
}

textarea.mat-input-element{
    font-size: 14px !important;
    text-align: justify;
    white-space: normal;
}

