<h1 mat-dialog-title>Recuperar su usuario y contraseña</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Identificación</mat-label>
    <input matInput [(ngModel)]="data.identificacion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Correo</mat-label>
    <input matInput [(ngModel)]="data.correo">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pregunta</mat-label>
    <input type="text" matInput [(ngModel)]="data.respuesta">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.identificacion" cdkFocusInitial>Recuperar</button>
</div>