<div class="contenedor">
    <mat-stepper (selectionChange)="enviarEvento()" [linear]="isLinear" #stepper>
        <!-- Paso Facturación -->
        <mat-step [stepControl]="facturacionSteeperFormGroup" [editable]="isEditable">
            <nav class="navbar-light nav-fijo">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngIf="notaDebitoVenta.id==0">
                        <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                            <mat-icon>save</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="notaDebitoVenta.id!=0">
                        <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                            <mat-icon>update</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                            <mat-icon>file_copy</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="notaDebitoVenta.id!=0">
                        <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                            <mat-icon>check</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="notaDebitoVenta.id!=0">
                        <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item"
                        *ngIf="notaDebitoVenta.id!=0 && notaDebitoVenta.estado == 'RECAUDADA' && notaDebitoVenta.factura.estado == 'FACTURADA'">
                        <a class="nav-link" title="Crear Nota Debito Electronica" href="#" role="button"
                            (click)="crearNotaDebitoElectronica($event)">
                            <mat-icon>point_of_sale</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="notaDebitoVenta.estado == estadoActivo && notaDebitoVenta.estadoInterno == estadoInternoEmitida">
                        <a class="nav-link" title="Obtener PDF" href="#" role="button" (click)="obtenerPDF($event)">
                            <mat-icon>picture_as_pdf</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="notaDebitoVenta.estado == estadoActivo && notaDebitoVenta.estadoInterno == estadoInternoRecaudada && notaDebitoVenta.estadoSri == estadoSriAutorizada">
                        <a class="nav-link" title="Enviar PDF Y XML" href="#" role="button" (click)="enviarPDFYXML($event)">
                            <mat-icon>forward_to_inbox</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
            <div *ngIf="cargar">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <ng-template matStepLabel>Nota Debito de Venta</ng-template>
            <mat-divider></mat-divider>
            <mat-accordion class="headers-align">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>DATOS PARA NOTA DEBITO DE VENTA</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'Ocultar sección' : 'Información del cliente para nota debito de venta'}}
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <mat-form-field appearance="standard">
                                <mat-label>Identificación</mat-label>
                                <input matInput type="text" class="form-control-sm" placeholder="Cédula/RUC"
                                    [formControl]="controlIdentificacionCliente"
                                    [matAutocomplete]="identificacionCliente">
                                <mat-autocomplete #identificacionCliente="matAutocomplete"
                                    [displayWith]="verIdentificacionCliente"
                                    (optionSelected)="seleccionarIdentificacionCliente()"
                                    (opened)="consultarClientes()">
                                    <mat-option *ngFor="let cliente of filtroIdentificacionClientes | async"
                                        [value]="cliente">{{cliente.identificacion}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="standard">
                                <mat-label>Razón Social</mat-label>
                                <input type="text" class="form-control-sm" placeholder="Clientes" matInput
                                    [formControl]="controlRazonSocialCliente" [matAutocomplete]="razonSocialCliente"
                                    oninput="this.value = this.value.toUpperCase()">
                                <mat-autocomplete #razonSocialCliente="matAutocomplete"
                                    [displayWith]="verRazonSocialCliente"
                                    (optionSelected)="seleccionarRazonSocialCliente()" (opened)="consultarClientes()">
                                    <mat-option *ngFor="let cliente of filtroRazonSocialClientes | async"
                                        [value]="cliente">
                                        {{cliente.razonSocial}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="standard">
                                <mat-label>Direccion</mat-label>
                                <input matInput type="text" [(ngModel)]="notaDebitoVenta.factura.cliente.direccion"
                                    class="form-control-sm" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="form-row col-4">
                            <ng-container
                                *ngFor="let telefono of notaDebitoVenta.factura.cliente.telefonos; let i=index ">
                                <div class="col-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Teléfono</mat-label>
                                        <b matPrefix>+593 &nbsp;</b>
                                        <input matInput type="tel" [value]="telefono.numero" class="form-control-sm"
                                            [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-3 iconos">
                                    <button mat-icon-button [disabled]="true">
                                        <mat-icon class="iconos-peque">close</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-row col-4">
                            <ng-container
                                *ngFor="let celular of notaDebitoVenta.factura.cliente.celulares; let i=index ">
                                <div class="col-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Celular</mat-label>
                                        <b matPrefix>+593 &nbsp;</b>
                                        <input matInput type="tel" [value]="celular.numero" class="form-control-sm"
                                            [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-3 iconos">
                                    <button mat-icon-button [disabled]="true">
                                        <mat-icon class="iconos-peque">close</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="form-row col-4">
                            <ng-container *ngFor="let correo of notaDebitoVenta.factura.cliente.correos; let i=index ">
                                <div class="col-9">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Correo electrónico</mat-label>
                                        <input matInput type="text " [(ngModel)]="correo.email" class="form-control-sm "
                                            [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="col-3 iconos">
                                    <button mat-icon-button [disabled]="true">
                                        <mat-icon class="iconos-peque">close</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Estab.</mat-label>
                                <input matInput type="text" class="form-control-sm"
                                    [(ngModel)]="sesion.usuario.estacion.establecimiento.codigo" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Punto V.</mat-label>
                                <input matInput type="text" class="form-control-sm"
                                    [(ngModel)]="sesion.usuario.estacion.codigo" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Usuario</mat-label>
                                <input matInput type="text" class="form-control-sm" [(ngModel)]="sesion.usuario.nombre"
                                    [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Fecha</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="notaDebitoVenta.fecha" [max]="hoy"
                                    placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Secuencial</mat-label>
                                <input matInput type="text" class="form-control-sm"
                                    [(ngModel)]="notaDebitoVenta.secuencial" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <mat-form-field appearance="standard">
                                <mat-label>Estado</mat-label>
                                <mat-select class="form-control-sm" [(ngModel)]="notaDebitoVenta.estado"
                                    [disabled]="true">
                                    <mat-option [value]="estadoActivo">{{estadoActivo}}</mat-option>
                                    <mat-option [value]="estadoInactivo">{{estadoInactivo}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-1">
                            <mat-form-field appearance="standard">
                                <mat-label>Serie</mat-label>
                                <input matInput type="text" class="form-control-sm"
                                    [(ngModel)]="notaDebitoVenta.factura.serie" [disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <mat-form-field appearance="standard">
                                <mat-label>Factura</mat-label>
                                <input matInput type="text" class="form-control-sm" placeholder="Factura"
                                    [formControl]="controlFactura" [matAutocomplete]="factura"
                                    oninput="this.value = this.value.toUpperCase()">
                                <mat-autocomplete #factura="matAutocomplete" [displayWith]="verFactura"
                                    (optionSelected)="seleccionarFactura()">
                                    <mat-option *ngFor="let factura of filtroFacturas | async" [value]="factura">
                                        {{factura.secuencial}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>LINEAS DE LA FACTURA</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'Ocultar sección' : 'Productos de la nota credito'}}
                            <mat-icon>playlist_add_check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Buscar producto agregado</mat-label>
                            <input matInput oninput="this.value = this.value.toUpperCase()"
                                (keyup)="filtroFacturaLinea($event)" #inputFiltroLinea>
                            <button mat-button *ngIf="inputFiltroLinea.value" matSuffix mat-icon-button
                                (click)="borrarFiltroFacturaLinea()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSourceFacturaLinea" matSort #matSortLinea="matSort">
                                <!-- Columnas Dinamicas -->
                                <ng-container *ngFor="let columna of columnasFacturaLinea"
                                    [matColumnDef]="columna.nombreColumna">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                                    <td mat-cell *matCellDef="let row; let i=index">
                                        <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                            {{ columna.celda(row) }}
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="cabeceraFacturaLinea"></tr>
                                <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraFacturaLinea"></tr>
                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="10">No hay productos agregados o filtrados</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                                #paginatorFacturaLinea></mat-paginator>
                        </div>
                        <div class="azul" *ngIf="!clickedRowsLinea.size">
                            Seleccione una fila para editar
                        </div>
                        <div class="azul" *ngFor="let clickedRowLinea of clickedRowsLinea">
                            Código: {{clickedRowLinea.cantidad}} seleccionado
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>LINEA NOTA DEBITO</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelOpenState ? 'Ocultar sección' : 'Productos de la nota debito'}}
                            <mat-icon>playlist_add_check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div class="form-group form-row">
                        <div class="col-9">
                            <div class="centrar-titulo fondo">
                                <mat-label>PRODUCTO</mat-label>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row">
                                    <div class="col-8">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Producto</mat-label>
                                            <input matInput type="text" class="form-control-sm" placeholder="Producto"
                                                [formControl]="controlProducto" [matAutocomplete]="producto"
                                                oninput="this.value = this.value.toUpperCase()">
                                            <mat-autocomplete #producto="matAutocomplete" [displayWith]="verProducto"
                                                (optionSelected)="seleccionarProducto()" (opened)="consultarProductos()">
                                                <mat-option *ngFor="let producto of filtroProductos | async" [value]="producto">
                                                    {{producto.nombre}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Medida</mat-label>
                                            <input matInput type="text"
                                                [(ngModel)]="notaDebitoVentaLinea.producto.medida.descripcion"
                                                class="form-control-sm" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Bodega</mat-label>
                                            <mat-select [(ngModel)]="notaDebitoVentaLinea.bodega"
                                                (selectionChange)="seleccionarBodega()" [compareWith]="compareFn"
                                                class="form-control-sm" [disabled]="!esBien">
                                                <mat-option *ngFor="let bodega of bodegas; let i=index"
                                                    [value]="bodega">
                                                    {{bodega.abreviatura}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Saldo Bod</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="kardex.saldo" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Cantidad</mat-label>
                                            <input matInput type="text" [(ngModel)]="notaDebitoVentaLinea.cantidad"
                                                (change)="calcularLinea()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Precio Unit.</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="notaDebitoVentaLinea.precioUnitario" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>IVA</mat-label>
                                            <mat-select [(ngModel)]="notaDebitoVentaLinea.impuesto" [compareWith]="compareFn"
                                                (selectionChange)="calcularLinea()" class="form-control-sm">
                                                <mat-option *ngFor="let impuesto of impuestos" [value]="impuesto">
                                                    {{impuesto.porcentaje}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>PVP</mat-label>
                                            <input matInput type="text" step="0.01"
                                                [(ngModel)]="precioVentaPublicoManual"
                                                (change)="calcularLinea()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Desc. $</mat-label>
                                            <input matInput type="text" step="0.01"
                                                [(ngModel)]="notaDebitoVentaLinea.valorDescuentoLinea"
                                                (change)="calcularLinea()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Desc. %</mat-label>
                                            <input matInput type="text" min="0" max="100" step="0.01"
                                                [(ngModel)]="notaDebitoVentaLinea.porcentajeDescuentoLinea"
                                                (change)="calcularLinea()"
                                                class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Subtotal</mat-label>
                                            <input matInput type="text"
                                                [(ngModel)]="notaDebitoVentaLinea.totalConDescuentoLinea"
                                                class="form-control-sm" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Entregado</mat-label>
                                            <mat-select class="form-control-sm" [(ngModel)]="notaDebitoVentaLinea.entregado">
                                                <mat-option [value]="no">{{no}}</mat-option>
                                                <mat-option [value]="si">{{si}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1 iconos centrar">
                                        <button mat-icon-button mat-button *ngIf="!verIconoEditarLinea"
                                            (click)="crearLinea()">
                                            <mat-icon>add_shopping_cart</mat-icon>
                                        </button>
                                        <button mat-icon-button *ngIf="verIconoEditarLinea"
                                            (click)="actualizarLinea()">
                                            <mat-icon>update</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-3">
                            <div class="centrar-titulo fondo">
                                <mat-label>INFORMACIÓN</mat-label>
                            </div>
                            <mat-divider></mat-divider>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row">
                                    <div class="col-3">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Consig.</mat-label>
                                            <input matInput type="text" [(ngModel)]="notaDebitoVentaLinea.producto.consignacion"
                                                [disabled]="true" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-9">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Código</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="notaDebitoVentaLinea.producto.codigo" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Categoría</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="notaDebitoVentaLinea.producto.categoriaProducto.descripcion"
                                                [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Tipo de Gasto</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="notaDebitoVentaLinea.producto.tipoGasto.descripcion"
                                                [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                </div>  
                            </mat-card>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="standard">
                                <mat-label>Buscar producto agregado</mat-label>
                                <input matInput oninput="this.value = this.value.toUpperCase()"
                                    (keyup)="filtroLinea($event)" #inputFiltroLinea>
                                <button mat-button *ngIf="inputFiltroLinea.value" matSuffix mat-icon-button (click)="borrarFiltroLinea()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSourceLinea" matSort #matSortLinea="matSort">
                                    <!-- Columnas Dinamicas -->
                                    <ng-container *ngFor="let columna of columnasLinea"
                                        [matColumnDef]="columna.nombreColumna">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }}
                                        </th>
                                        <td mat-cell *matCellDef="let row; let i=index">
                                            <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                                {{ columna.celda(row) }}
                                            </ng-container>
                                            <ng-container *ngIf="columna.nombreColumna == 'acciones'">
                                                <button mat-icon-button color="warn" (click)="eliminarLinea(i)">
                                                    <i class="fa fa-times mat-icon"></i>
                                                </button>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="cabeceraLinea"></tr>
                                    <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraLinea"
                                        (click)="seleccionLinea(row, i)" [class.selected-row]="clickedRowsLinea.has(row)"></tr>
                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="10">No hay productos agregados o filtrados
                                        </td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                                    #paginatorLinea></mat-paginator>
                            </div>
                            <div class="azul" *ngIf="!clickedRowsLinea.size">
                                Seleccione una fila para editar
                            </div>
                            <div class="azul" *ngFor="let clickedRowLinea of clickedRowsLinea">
                                Código: {{clickedRowLinea.cantidad}} seleccionado
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="form-group form-row">
                            <div class="col-8">
                                <br>
                                <div class="col-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Comentario</mat-label>
                                        <textarea matInput [(ngModel)]="notaDebitoVenta.comentario"
                                            placeholder="Referente a la nota de credito..." class="form-control"
                                            rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-4">
                                <mat-card>
                                    <div class="form-group form-row">
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Subtotal :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text"
                                                    [(ngModel)]="notaDebitoVenta.subtotalSinDescuento"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Descuento :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text" [(ngModel)]="notaDebitoVenta.descuentoTotal"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Subtotal Gravado :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text"
                                                    [(ngModel)]="notaDebitoVenta.subtotalBase12SinDescuento"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Subtotal No Gravado :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text"
                                                    [(ngModel)]="notaDebitoVenta.subtotalBase0SinDescuento"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Importe IVA :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text"
                                                    [(ngModel)]="notaDebitoVenta.ivaSinDescuento"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label class="negrita">TOTAL :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text "
                                                    [(ngModel)]="notaDebitoVenta.totalSinDescuento"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="headers-align">
                <mat-expansion-panel (opened)="abrirPanelAdmin = true" (closed)="abrirPanelAdmin = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>GESTIONAR NOTAS DEBITO</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{abrirPanelAdmin ? 'Ocultar administrador de nota debito de ventas' : 'Editar nota debito
                            de
                            ventas
                            existentes'}}
                            <mat-icon>group</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-form-field appearance="standard">
                        <mat-label>Buscar nota debito de venta</mat-label>
                        <input matInput (keyup)="filtro($event)" placeholder="Ej. 001" #input>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <!-- Columnas Dinamicas -->
                            <ng-container *ngFor="let columna of columnas" [matColumnDef]="columna.nombreColumna">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                                <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>

                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="cabecera"></tr>
                            <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                                *matRowDef="let row; columns: cabecera;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="6">No hay datos que coincidan con el grupo
                                    "{{input.value}}"
                                </td>
                            </tr>
                        </table>
                        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                    <div class="azul" *ngIf="!clickedRows.size">
                        Seleccione una fila para editar
                    </div>
                    <div class="azul" *ngFor="let clickedRow of clickedRows">
                        Id: {{clickedRow.id}} seleccionado
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-step>
        <!-- Paso Recaudación -->
        <mat-step [stepControl]="recaudacionSteeperFormGroup" [editable]="isEditable">
            <ng-template matStepLabel>Recaudación</ng-template>
            <app-recaudacion-nota-debito [stepper]="stepper"></app-recaudacion-nota-debito>
            <mat-divider></mat-divider>
            <div>
                <button mat-button matStepperPrevious>Atras</button>
                <button mat-button matStepperNext>Siguiente</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>