<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                <mat-icon>file</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <ng-container *ngIf="usuario.id==0">
                <a class="nav-link" href="#" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </ng-container>
            <ng-container *ngIf="usuario.id!=0">
                <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </ng-container>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    &nbsp;&nbsp;&nbsp;&nbsp;<i><u>CREAR USUARIO</u></i>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Codigo</mat-label>
                                        <input matInput type="text" [(ngModel)]="usuario.codigo" class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput type="text" [(ngModel)]="usuario.nombre" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Correo</mat-label>
                                        <input matInput type="text" [(ngModel)]="usuario.correo" oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput type="text" [(ngModel)]="usuario.contrasena" class="form-control-sm" [disabled]="true">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Identificacion</mat-label>
                                        <input matInput type="text" [(ngModel)]="usuario.identificacion" class="form-control-sm">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-4">
                                    <mat-checkbox [(ngModel)]="usuario.activo"
                                    class="form-control-sm" color="primary">Activo.</mat-checkbox>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Punto de Venta</mat-label>
                                        <mat-select [(ngModel)]="usuario.puntoVenta" [compareWith]="compareFn" class="form-control-sm">
                                            <mat-option *ngFor="let puntoVenta of puntosVentas"
                                                [value]="puntoVenta">
                                                {{puntoVenta.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-6">
                                    <mat-form-field appearance="standard">
                                        <mat-label>Perfil</mat-label>
                                        <mat-select [(ngModel)]="usuario.perfil" [compareWith]="compareFn" class="form-control-sm">
                                            <mat-option *ngFor="let perfil of perfiles"
                                                [value]="perfil">
                                                {{perfil.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>