<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="usuario.id==0">
            <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                <mat-icon>save</mat-icon>
            </a>
        </li>
        <ng-container *ngIf="usuario.id!=0">
            <li class="nav-item" *ngIf="!editarUsuario">
                <a class="nav-link" title="Actualizar" role="button" (click)="editar($event)">
                    <mat-icon>edit</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="editarUsuario">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
        </ng-container>
        <li class="nav-item">
            <a class="nav-link" title="Nuevo" role="button" (click)="nuevo($event)">
                <mat-icon>file_copy</mat-icon>
            </a>
        </li>
        <li class="nav-item" *ngIf="usuario.id!=0">
            <a class="nav-link" title="Eliminar" role="button" (click)="eliminar($event)">
                <mat-icon>delete</mat-icon>
            </a>
        </li>
    </ul>
</nav>
<div class="contenedor">
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelNuevoUsuario = true" (closed)="abrirPanelNuevoUsuario = false"
            [expanded]="abrirPanelNuevoUsuario">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>USUARIOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelNuevoUsuario ? 'Ocultar crear usuario' : 'Crear nuevo usuario'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="form-group form-row">
                <div class="form-row col-3 mr-2">
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text" [(ngModel)]="usuario.apodo" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="ocultarContrasena ? 'password' : 'text'" [(ngModel)]="usuario.contrasena">
                            <button mat-icon-button matSuffix (click)="ocultarContrasena = !ocultarContrasena" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultarContrasena">
                              <mat-icon>{{ocultarContrasena ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Repita Contraseña</mat-label>
                            <input matInput [type]="ocultarContrasena2 ? 'password' : 'text'" [(ngModel)]="contrasena2">
                            <button mat-icon-button matSuffix (click)="ocultarContrasena2 = !ocultarContrasena2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="ocultarContrasena2">
                              <mat-icon>{{ocultarContrasena2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-7 linea-vertical">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Identificacion</mat-label>
                            <input matInput type="text" [(ngModel)]="usuario.identificacion" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field appearance="standard">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" [(ngModel)]="usuario.nombre"
                                oninput="this.value = this.value.toUpperCase()" [disabled]="!editarUsuario"
                                oninput="this.value = this.value.toUpperCase()" class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Teléfono</mat-label>
                            <b matPrefix>+593 &nbsp;</b>
                            <input matInput type="tel" [(ngModel)]="usuario.telefono" class="form-control-sm"
                                (change)="validarTelefono()" placeholder="03-2999-123" oninput="this.value = this.value.replace
                                ( /^(\d{2})(\d{4})(\d{3})$/, '$1-$2-$3')">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Celular</mat-label>
                            <b matPrefix>+593 </b>
                            <input matInput type="tel" [(ngModel)]="usuario.celular" class="form-control-sm"
                                (change)="validarCelular()" placeholder="09-9999-1234" oninput="this.value = this.value.replace
                                        ( /^(\d{2})(\d{4})(\d{4})$/, '$1-$2-$3')">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="ejemplo@futuristic.com" [formControl]="email" class="form-control-sm"
                                oninput="this.value = this.value.toLowerCase()" [disabled]="!editarUsuario" required>
                                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>    
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Perfil</mat-label>
                            <mat-select [(ngModel)]="usuario.perfil" [compareWith]="compareFn" class="form-control-sm">
                                <mat-option *ngFor="let perfil of perfiles" [value]="perfil">
                                    {{perfil.descripcion}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select [(ngModel)]="usuario.estado" [disabled]="!editarUsuario"
                                class="form-control-sm">
                                <mat-option [value]="activo">{{activo}}</mat-option>
                                <mat-option [value]="inactivo">{{inactivo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" [(ngModel)]="usuario.codigo" class="form-control-sm"
                                [disabled]="true">
                        </mat-form-field>
                    </div>

                </div>
                <div class="col-2">
                    <mat-card class="foto">
                        <img *ngIf="!usuario.avatar" width="100%" height="100%" src="assets/images/users/avatar.jpg"> 
                        <img *ngIf="usuario.avatar" width="100%" height="100%" [src]="usuario.avatar"> 
                    </mat-card>
                    <input type="file" (change)="capturarFile($event)">
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAdminUsuario = true" (closed)="abrirPanelAdminUsuario = false"
            [expanded]="abrirPanelAdminUsuario">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GESTIONAR USUARIOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAdminUsuario ? 'Ocultar administrador de usuarios' : 'Editar usuario existente'}}
                    <mat-icon>playlist_add_check</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <mat-form-field appearance="standard">
                <mat-label>Buscar usuario</mat-label>
                <input matInput (keyup)="filtroUsuario($event)" #inputFiltroUsuario>
                <button mat-button *ngIf="inputFiltroUsuario.value" matSuffix mat-icon-button
                    (click)="borrarFiltroUsuario()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="observableDSUsuario.value" matSort>
                    <!-- Columnas Dinamicas -->
                    <ng-container *ngFor="let columna of columnasUsuario" [matColumnDef]="columna.nombreColumna">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                        <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="cabeceraUsuario"></tr>
                    <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRows.has(row)"
                        *matRowDef="let row; columns: cabeceraUsuario;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6">No hay datos que coincidan con el usuario:
                            "{{inputFiltroUsuario.value}}"
                        </td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="azul" *ngIf="!clickedRows.size">
                Seleccione una fila para editar
            </div>
            <div class="azul" *ngFor="let clickedRow of clickedRows">
                Id: {{clickedRow.id}} seleccionado
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>