<div class="container">
    <nav class="navbar-light nav-fijo">
        <ul class="navbar-nav">
            <li class="nav-item">
                <ng-container *ngIf="entrega.id==0">
                    <a class="nav-link" href="#" role="button" (click)="crear($event)">
                        <mat-icon>save</mat-icon>
                    </a>
                </ng-container>
                <ng-container *ngIf="entrega.id!=0">
                    <a class="nav-link" href="#" role="button" (click)="actualizar($event)">
                        <mat-icon>update</mat-icon>
                    </a>
                </ng-container>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                    <mat-icon>note_add</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                    <mat-icon>archive</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                    <mat-icon>publish</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="generarPdf($event)">
                    <mat-icon>picture_as_pdf</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
    <mat-divider></mat-divider>
    <!-- SECCIÓN GUIA DE REMISIÓN -->
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="panelGuiaRemision = true" (closed)="panelGuiaRemision = false" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>GUÍA DE REMISIÓN</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelGuiaRemision ? 'Ocultar sección' : 'Guia de remisión'}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="form-group form-row">
                <div class="form-row col-8">
                    <div class="col-3">
                        <mat-form-field appearance="standard">
                            <mat-label>Identificación</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [value]="entrega.factura.cliente?.identificacion" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-9">
                        <mat-form-field appearance="standard">
                            <mat-label>Cliente</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [value]="entrega.factura.cliente?.razonSocial" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Direccion</mat-label>
                            <input matInput type="text" [(ngModel)]="entrega.direccion.direccion"
                                [disabled]="deshabilitar" oninput="this.value = this.value.toUpperCase()"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Provincia</mat-label>
                            <mat-select type="text" (selectionChange)="provincia()"
                                [(ngModel)]="entrega.direccion?.ubicacion.provincia" [disabled]="deshabilitar"
                                class="form-control-sm">
                                <mat-option *ngFor="let provincia of provincias" [value]="provincia.provincia">
                                    {{provincia.provincia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Canton</mat-label>
                            <mat-select type="text" (selectionChange)="canton()"
                                [(ngModel)]="entrega.direccion?.ubicacion.canton" [disabled]="deshabilitar"
                                class="form-control-sm">
                                <mat-option *ngFor="let canton of cantones" [value]="canton.canton">
                                    {{canton.canton}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Parroquia</mat-label>
                            <mat-select type="text" (selectionChange)="parroquia()"
                                [(ngModel)]="entrega.direccion?.ubicacion.parroquia" [disabled]="deshabilitar"
                                class="form-control-sm">
                                <mat-option *ngFor="let parroquia of parroquias" [value]="parroquia.parroquia">
                                    {{parroquia.parroquia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Teléfono</mat-label>
                            <b matPrefix>+593 &nbsp;</b>
                            <input matInput type="tel" [(ngModel)]="entrega.telefono" class="form-control-sm"
                                [disabled]="deshabilitar" (change)="validarTelefono()" placeholder="03-2999-123"
                                oninput="this.value = this.value.replace
                                    ( /^(\d{2})(\d{4})(\d{3})$/, '$1-$2-$3')">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Celular</mat-label>
                            <b matPrefix>+593 </b>
                            <input matInput type="tel" [(ngModel)]="entrega.celular" class="form-control-sm"
                                [disabled]="deshabilitar" (change)="validarCelular()" placeholder="09-9999-1234"
                                oninput="this.value = this.value.replace
                                    ( /^(\d{2})(\d{4})(\d{4})$/, '$1-$2-$3')">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Correo electrónico</mat-label>
                            <input matInput type="text" [(ngModel)]="entrega.correo" [disabled]="deshabilitar"
                                oninput="this.value = this.value.toLowerCase()" class="form-control-sm "
                                (change)="validarCorreo()" placeholder="ejemplo@futiristic.com">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Referencia</mat-label>
                            <input matInput type="text" [(ngModel)]="entrega.referencia"
                                oninput="this.value = this.value.toUpperCase()" [disabled]="entrega.inhabilitar"
                                class="form-control-sm">
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-row col-4 linea-vertical">
                    <mat-radio-group class="col-12" aria-label="Selecione una opción" (change)="seleccionarOpcion($event)">
                        <mat-radio-button value="0" [checked]="true">Dir. Cliente</mat-radio-button>
                        <mat-radio-button value="1">Nueva Dir.</mat-radio-button>
                        <mat-radio-button value="2">Sin Guia</mat-radio-button>
                    </mat-radio-group>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label># Factura</mat-label>
                            <input matInput type="text" [value]="entrega.factura.secuencia" class="form-control-sm"
                                disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Fecha Compra</mat-label>
                            <input matInput type="date" value="{{entrega.factura.fecha | date:'yyyy-MM-dd'}}"
                                class="form-control-sm" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Transportista</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="entrega.transportista"
                                [disabled]="entrega.inhabilitar">
                                <mat-option *ngFor="let transportista of transportistas" [value]="transportista">
                                    {{transportista.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Placa</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="entrega.transportista"
                                [disabled]="entrega.inhabilitar">
                                <mat-option *ngFor="let transportista of transportistas" [value]="transportista">
                                    {{transportista.vehiculoTransporte.placa}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label># Vehiculo</mat-label>
                            <input matInput type="text" class="form-control-sm"
                                [(ngModel)]="entrega.transportista.vehiculoTransporte.numero"
                                [ngModelOptions]="{standalone: true}" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="standard">
                            <mat-label>Propio</mat-label>
                            <input matInput type="text" class="form-control-sm" value="SI"
                                *ngIf="entrega.transportista.vehiculoPropio" disabled>
                            <input matInput type="text" class="form-control-sm" value="NO"
                                *ngIf="!entrega.transportista.vehiculoPropio" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>No. Guia</mat-label>
                            <input matInput type="text" class="form-control-sm" [(ngModel)]="entrega.numero" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="standard">
                            <mat-label>Estado</mat-label>
                            <mat-select class="form-control-sm" [(ngModel)]="entrega.estado"
                                [ngModelOptions]="{standalone: true}" disabled>
                                <mat-option value="ENTREGADO">ENTREGADO</mat-option>
                                <mat-option value="PENDIENTE">PENDIENTE</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelGuiaDetalle = true" (closed)="panelGuiaDetalle = false" [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>DETALLE DE PRODUCTOS</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{panelGuiaDetalle ? 'Ocultar sección' : 'Detalle de Guia de remisión'}}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-divider></mat-divider>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataFacturaDetalle" matSort>
                    <!-- Nombre Columna -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
                        <td mat-cell *matCellDef="let facturaDetalle"> {{facturaDetalle.producto.nombre}} </td>
                    </ng-container>
                    <!-- Cantidad Columna -->
                    <ng-container matColumnDef="cantidad">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cant </th>
                        <td mat-cell *matCellDef="let facturaDetalle"> {{facturaDetalle.cantidad}} </td>
                    </ng-container>
                    <!-- Precio unitario Columna -->
                    <ng-container matColumnDef="precio_unitario">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>P/U </th>
                        <td mat-cell *matCellDef="let facturaDetalle">
                            {{facturaDetalle.precio.precioVentaPublicoManual }} </td>
                    </ng-container>
                    <!-- Impuesto Columna -->
                    <ng-container matColumnDef="iva">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
                        <td mat-cell *matCellDef="let facturaDetalle">
                            {{facturaDetalle.impuesto.porcentaje}} </td>
                    </ng-container>
                    <!-- Total Columna -->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                        <td mat-cell *matCellDef="let facturaDetalle">
                            {{facturaDetalle.totalConDescuentoLinea}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnasFacturaDetalle"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnasFacturaDetalle;"></tr>
                </table>
                <ng-container>
                    <!--mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator-->
                </ng-container>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>