<table mat-table [dataSource]="dataSource1" class="mat-elevation-z8"> 

	<!--- Note que estas columnas pueden ser definidas en cualquier orden.
        Las columnas reales representadas se establecen como una propiedad en la definición de fila" -->

	<!-- Position Column -->
	<ng-container matColumnDef="position">
		<th mat-header-cell *matHeaderCellDef> No. </th>
		<td mat-cell *matCellDef="let element"> {{element.position}} </td>
	</ng-container>

	<!-- Medida Column -->
	<ng-container matColumnDef="medida">
		<th mat-header-cell *matHeaderCellDef> Medida </th>
		<td mat-cell *matCellDef="let element"> {{element.medida}} </td>
	</ng-container>

	<!-- Segmento Column -->
	<ng-container matColumnDef="segmento">
		<th mat-header-cell *matHeaderCellDef> Segmento </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'segmento')">
				<ng-template viewMode>
					{{element.segmento}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'segmento')">
						<mat-error *ngIf="getControl(index, 'segmento').hasError('required')">
							Campo es <strong>requerido</strong>
						</mat-error>
					</mat-form-field> 
					<!-- <input  [formControl]="getControl(index, 'segmento')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
	</ng-container>

	<!-- Costo Column -->
	<ng-container matColumnDef="costo">
		<th mat-header-cell *matHeaderCellDef> Costo </th>
		<td mat-cell *matCellDef="let element"> {{element.costo}} </td>
	</ng-container>

	<!-- Ganancia Column -->
	<ng-container matColumnDef="ganancia">
		<th mat-header-cell *matHeaderCellDef> Ganancia% </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'ganancia')">
				<ng-template viewMode>
					{{element.ganancia}}
				</ng-template>
				<ng-template editMode>
					<input [formControl]="getControl(index, 'ganancia')" focusable editableOnEnter>
				</ng-template>
			</editable>
		</td>
	</ng-container>	

	<!-- Precio Column -->
	<ng-container matColumnDef="precio">
		<th mat-header-cell *matHeaderCellDef> Precio </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'precio')">
				<ng-template viewMode>
					{{element.precio}}
				</ng-template>
				<ng-template editMode>
					<input [formControl]="getControl(index, 'precio')" focusable editableOnEnter>
				</ng-template>
			</editable>
		</td>
	</ng-container> 

	<!-- PVP Column -->
	<ng-container matColumnDef="pvp">
		<th mat-header-cell *matHeaderCellDef> PVP </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'pvp')">
				<ng-template viewMode>
					{{element.pvp}}
				</ng-template>
				<ng-template editMode>
					<input [formControl]="getControl(index, 'pvp')" focusable editableOnEnter>
				</ng-template>
			</editable>
		</td>
	</ng-container>
	<!-- PVPF Column -->
	<ng-container matColumnDef="pvpf">
		<th mat-header-cell *matHeaderCellDef> PVPF </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'pvpf')">
				<ng-template viewMode>
					{{element.pvpf}}
				</ng-template>
				<ng-template editMode>
					<input [formControl]="getControl(index, 'pvpf')" focusable editableOnEnter>
				</ng-template>
			</editable>
		</td>
	</ng-container>
		<!-- Rendimiento Column -->
		<ng-container matColumnDef="rendimiento">
			<th mat-header-cell *matHeaderCellDef> Rendimiento </th>
			<td mat-cell *matCellDef="let element;let index = index">
				<editable (update)="updateField(index, 'rendimiento')">
					<ng-template viewMode>
						{{element.rendimiento}}
					</ng-template>
					<ng-template editMode>
						<input [formControl]="getControl(index, 'rendimiento')" focusable editableOnEnter>
					</ng-template>
				</editable>
			</td>
		</ng-container>
			<!-- Utilidad Column -->
	<ng-container matColumnDef="utilidad">
		<th mat-header-cell *matHeaderCellDef> utilidad </th>
		<td mat-cell *matCellDef="let element;let index = index">
			<editable (update)="updateField(index, 'utilidad')">
				<ng-template viewMode>
					{{element.utilidad}}
				</ng-template>
				<ng-template editMode>
					<input [formControl]="getControl(index, 'utilidad')" focusable editableOnEnter>
				</ng-template>
			</editable>
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
</table>

<br>
<hr>
<br>
<!-- Tabla material4 -->
  <!-- <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
		<ng-container matColumnDef="position">
			<mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
			<mat-cell *matCellDef="let row">
			  <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
				<input matInput [formControl]="row.validator.controls['position']" type="number" placeholder="Position">
			  </mat-form-field>
			</mat-cell>
		  </ng-container>
		  <ng-container matColumnDef="medida">
			<mat-header-cell *matHeaderCellDef> Medida </mat-header-cell>
			<mat-cell *matCellDef="let row">
			  <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
				<input matInput [formControl]="row.validator.controls['medida']" [readonly]="!row.editing" placeholder="Medida">
			  </mat-form-field>
			</mat-cell>
		  </ng-container>
		<ng-container matColumnDef="segmento">
		  <mat-header-cell *matHeaderCellDef> Segmento </mat-header-cell>
		  <mat-cell *matCellDef="let row">
			<mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
			  <input matInput [formControl]="row.validator.controls['segmento']" [readonly]="!row.editing" placeholder="Segmento">
			</mat-form-field>
		  </mat-cell>
		</ng-container>
		<ng-container matColumnDef="costo">
			<mat-header-cell *matHeaderCellDef> costo </mat-header-cell>
			<mat-cell *matCellDef="let row">
			  <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
				<input matInput [formControl]="row.validator.controls['costo']" type="number" placeholder="costo">
			  </mat-form-field>
			</mat-cell>
		  </ng-container>  
		  <ng-container matColumnDef="ganancia">
			<mat-header-cell *matHeaderCellDef> ganancia </mat-header-cell>
			<mat-cell *matCellDef="let row">
			  <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
				<input matInput [formControl]="row.validator.controls['ganancia']" type="number" placeholder="ganancia">
			  </mat-form-field>
			</mat-cell>
		  </ng-container> 
		<ng-container matColumnDef="precio">
		  <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
		  <mat-cell *matCellDef="let row">
			<mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
			  <input matInput [formControl]="row.validator.controls['precio']" type="number" placeholder="Precio">
			</mat-form-field>
		  </mat-cell>
		</ng-container>  

	<ng-container matColumnDef="actionsColumn">
	  <mat-header-cell *matHeaderCellDef>
		<button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button>
	  </mat-header-cell>
	  <mat-cell *matCellDef="let row">
		<button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
			  <i class="fa fa-pencil mat-icon"></i>
			</button>
		<button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
			  <i class="fa fa-check mat-icon"></i>
			</button>
		<button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
			  <i class="fa fa-times mat-icon"></i>
			</button>
	  </mat-cell>
	</ng-container>
  
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table> -->

  	<!-- <ng-container matColumnDef="name">
	  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
	  <mat-cell *matCellDef="let row">
		<mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
		  <input matInput [formControl]="row.validator.controls['name']" [readonly]="!row.editing" placeholder="Name" >
		</mat-form-field>
	  </mat-cell>
	</ng-container>
	<ng-container matColumnDef="age">
	  <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
	  <mat-cell *matCellDef="let row">
		<mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
		  <input matInput [formControl]="row.validator.controls['age']" type="number" placeholder="Age" >
		</mat-form-field>
	  </mat-cell>
	</ng-container> -->