<div>
  <mat-card>
    <google-map width="100%" [height]="450" [center]="posicionCentral" [zoom]="zoom" [options]="options"
        (mapClick)="mapClicked($event)">
      <map-marker #marker="mapMarker" *ngIf="posicionSeleccionada.lat != latInicial" 
        [position]="posicionSeleccionada" (mapClick)="openInfoWindow(marker)">
      </map-marker>
      <map-info-window>
        <div>
          <p>Latitud: {{ posicionSeleccionada?.lat }}</p>
          <p>Longitud: {{ posicionSeleccionada?.lng }}</p>
        </div>
      </map-info-window>
    </google-map>
  </mat-card>
</div>