
.resaltar{
    font-weight: bold;
    color: red;
}

.derecha{
    position: sticky;
    text-align: right;
}

.izquierda{
    position: sticky;
    text-align: left;
}


/*oculta el ancho del autocomplete*/
.mat-autocomplete{
    position: fixed;
    width: 10%;
}

mat-datepicker{
    position: sticky !important;
    width: 10%;
    padding: 0px !important;;
}

.mat-datepicker-toggle{
    position: sticky !important;
    padding: 0px !important;;
}

.mat-card{
    text-align: center !important;
    padding: 0px;
    margin: 0px;
}

textarea.mat-input-element{
    font-size: 18px !important;
    text-align: justify;
    white-space: normal;
}

.mat-stepper-horizontal {
    margin-top: 0px;
  }

table {
    width: 100%;
}
  
th.mat-sort-header-sorted {
   color: black;
}

tr.mat-footer-row {
    font-weight: bold;
  }
