<div class="container">
    <nav class="navbar-light nav-fijo">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="crear($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <ng-container *ngIf="recaudacion.id==0">
                    <a class="nav-link" href="#" role="button" (click)="nuevo($event)">
                        <mat-icon>note_add</mat-icon>
                    </a>
                </ng-container>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                    <mat-icon>archive</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" role="button" (click)="$event.preventDefault()">
                    <mat-icon>publish</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
    <div class="form-row col-12">
        <div class="form-row col-9">
            <div class="form-group col-3">
                <mat-form-field appearance="standard">
                    <mat-label>Fecha</mat-label>
                    <input matInput type="text" value="{{factura.fecha | date:'dd-MM-yyyy'}}" class="form-control-sm"
                        disabled>
                </mat-form-field>
            </div>
            <div class="form-group col-3">
                <mat-form-field appearance="standard">
                    <mat-label>Tipo</mat-label>
                    <input matInput type="text" class="form-control-sm"
                        [(ngModel)]="factura.sesion.usuario.estacion.codigo" [ngModelOptions]="{standalone: true}"
                        disabled>
                </mat-form-field>
            </div>
            <div class="form-group col-4">
                <mat-form-field appearance="standard">
                    <mat-label>Factura</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="factura.secuencia"
                        [ngModelOptions]="{standalone: true}" disabled>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Estado</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="estado" [ngModelOptions]="{standalone: true}"
                        [disabled]="true">
                        <mat-option value="RECAUDADO">RECAUDADO</mat-option>
                        <mat-option value="NORECAUDADO">NO RECAUDADO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-4">
                <mat-form-field appearance="standard">
                    <mat-label>RUC</mat-label>
                    <mat-select [formControl]="formasPago" [(value)]="formasPagoSelecionadas" multiple>
                        <mat-option *ngFor="let formaPago of formasPagoLista" [value]="formaPago"
                            (click)="habilitarSeccionPago(formaPago)">
                            {{formaPago}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-8">
                <mat-form-field appearance="standard">
                    <mat-label>Proveedor</mat-label>
                    <input matInput type="text" [value]="factura.cliente?.razonSocial"
                        oninput="this.value = this.value.toUpperCase()" class="form-control-sm" disabled>
                </mat-form-field>
            </div>
        </div>
        <!--Quitar card efectivo-->
        <div class="form-row col-3">
            <div class="form-row">
                <div class="form-group col-6">
                </div>
                <div class="form-group col-6">
                    <mat-form-field appearance="standard">
                        <mat-label>Valor Compra</mat-label>
                        <input matInput type="text" [(ngModel)]="recaudacion.total" class="form-control-sm" disabled>
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                </div>
                <div class="form-group col-6">
                </div>
            </div>
        </div>
    </div>

    <!-- Sección EFECTIVO Y DEPOSITOS -->
    <mat-divider></mat-divider>
    <div class="card">
        <div class="card-header">
            <div class="form-row col-12">
                <div class="form-group col-8 izquierda">
                    EFECTIVO Y DEPOSITOS
                </div>
                <div class="form-group col-3 derecha">
                    Total depósitos:
                </div>
                <div class="form-group col-1">{{recaudacion.totalDepositos | currency}}</div>
            </div>
        </div>
        <div class="card-body form-row col-12">
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Operación</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="deposito.cuentaPropia">
                        <mat-option *ngFor="let cuentaPropia of cuentasPropias" [value]="cuentaPropia">
                            {{cuentaPropia.numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Cuenta</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="deposito.cuentaPropia">
                        <mat-option *ngFor="let cuentaPropia of cuentasPropias" [value]="cuentaPropia">
                            {{cuentaPropia.numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-4">
                <mat-form-field appearance="standard">
                    <mat-label>Banco</mat-label>
                    <mat-autocomplete #bancoDeposito="matAutocomplete" [displayWith]="verBancoDeposito"
                        (optionSelected)="seleccionarBancoDeposito()">
                        <mat-option *ngFor="let banco of filtroBancosDepositos | async" [value]="banco">
                            {{banco.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <input matInput type="text" class="form-control-sm" [formControl]="seleccionBancoDeposito"
                        [matAutocomplete]="bancoDeposito">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>No. Comprobante</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.comprobante"
                        (blur)="rellenarNumeroDeposito()">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker2" class="form-control-sm" [(ngModel)]="deposito.fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field appearance="standard">
                    <mat-label>Beneficiario</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.valor">
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field appearance="standard">
                    <mat-label>Detalle</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.valor">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Valor</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.valor">
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- Sección TRANSFERENCIA Y CHEQUES-->
    <mat-divider></mat-divider>
    <div class="card">
        <div class="card-header">
            <div class="form-row col-12">
                <div class="form-group col-8 izquierda">
                    TRANSFERENCIAS Y CHEQUES
                </div>
                <div class="form-group col-3 derecha">
                    Total en cheques es:
                </div>
                <div class="form-group col-1">{{recaudacion.totalCheques | currency}}</div>
            </div>
        </div>
        <div class="card-body form-row col-12">
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Operación</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="deposito.cuentaPropia">
                        <mat-option *ngFor="let cuentaPropia of cuentasPropias" [value]="cuentaPropia">
                            {{cuentaPropia.numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Cuenta</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="deposito.cuentaPropia">
                        <mat-option *ngFor="let cuentaPropia of cuentasPropias" [value]="cuentaPropia">
                            {{cuentaPropia.numero}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Banco</mat-label>
                    <mat-autocomplete #banco_deposito="matAutocomplete" [displayWith]="verBancoDeposito"
                        (optionSelected)="seleccionarBancoDeposito()">
                        <mat-option *ngFor="let banco of filtroBancosDepositos | async" [value]="banco">
                            {{banco.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <input matInput type="text" class="form-control-sm" [formControl]="seleccionBancoDeposito"
                        [matAutocomplete]="bancoDeposito">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>No. Documento</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.comprobante"
                        (blur)="rellenarNumeroDeposito()">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Tipo Cheque</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="cheque.tipo">
                        <mat-option value="VISTA">A LA VISTA</mat-option>
                        <mat-option value="POSTFECHADO">POSTFECHADO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Fecha Cheque</mat-label>
                    <input matInput [matDatepicker]="picker1" class="form-control-sm" [(ngModel)]="cheque.fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field appearance="standard">
                    <mat-label>Beneficiario</mat-label>
                    <mat-autocomplete #bancoCheque="matAutocomplete" [displayWith]="verBancoCheque"
                        (optionSelected)="seleccionarBancoCheque()">
                        <mat-option *ngFor="let banco of filtroBancosCheques | async" [value]="banco">
                            {{banco.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <input matInput type="text" class="form-control-sm" [formControl]="seleccionBancoCheque"
                        [matAutocomplete]="bancoCheque">
                </mat-form-field>
            </div>
            <div class="form-group col-5">
                <mat-form-field appearance="standard">
                    <mat-label>Detalle</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.valor">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Valor</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="cheque.valor">
                </mat-form-field>
            </div>
        </div>
    </div>

    <!-- Sección TARJETA DE DEBITO Y CRÉDITO -->
    <mat-divider></mat-divider>
    <div class="card">
        <div class="card-header">
            <div class="form-row col-12">
                <div class="form-group col-8 izquierda">
                    TARJETAS DE DÉBITO Y CRÉDITO
                </div>
                <div class="form-group col-3 derecha">
                    Total tarjetas de crédito:
                </div>
                <div class="form-group col-1">{{recaudacion.totalTarjetasCreditos | currency}}</div>
            </div>
        </div>
        <div class="card-body form-row col-12">
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Tipo Tarjeta</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="cheque.tipo">
                        <mat-option value="CREDITO">T. CREDITO</mat-option>
                        <mat-option value="DEBITO">T. DEBITO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>No. Tarjeta</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="tarjetaCredito.franquiciaTarjeta">
                        <mat-option *ngFor="let franquiciaTarjeta of franquiciasTarjetasCreditos"
                            [value]="franquiciaTarjeta">
                            {{franquiciaTarjeta.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Forma Pago</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="cheque.tipo">
                        <mat-option value="CORRIENTE">CORRIENTE</mat-option>
                        <mat-option value="DIFERIDO">DIFERIDO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-1">
                <mat-form-field appearance="standard">
                    <mat-label>Plazo</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaCredito.identificacion"
                        (change)="validarIdentificacionTarjetaCredito()">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Franquicia</mat-label>
                    <mat-select class="form-control-sm" [(ngModel)]="tarjetaCredito.franquiciaTarjeta">
                        <mat-option *ngFor="let franquiciaTarjeta of franquiciasTarjetasCreditos"
                            [value]="franquiciaTarjeta">
                            {{franquiciaTarjeta.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group col-3">
                <mat-form-field appearance="standard">
                    <mat-label>Banco</mat-label>
                    <mat-autocomplete #bancoTarjetaCredito="matAutocomplete" [displayWith]="verBancoTarjetaCredito"
                        (optionSelected)="seleccionarBancoTarjetaCredito()">
                        <mat-option *ngFor="let banco of filtroBancosTarjetasCreditos | async" [value]="banco">
                            {{banco.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <input matInput type="text" class="form-control-sm" [formControl]="seleccionBancoTarjetaCredito"
                        [matAutocomplete]="bancoTarjetaCredito">
                </mat-form-field>
            </div>
            <div class="form-group col-4">
                <mat-form-field appearance="standard">
                    <mat-label>Beneficiario</mat-label>
                    <mat-autocomplete #banco_cheque="matAutocomplete" [displayWith]="verBancoCheque"
                        (optionSelected)="seleccionarBancoCheque()">
                        <mat-option *ngFor="let banco of filtroBancosCheques | async" [value]="banco">
                            {{banco.nombre}}
                        </mat-option>
                    </mat-autocomplete>
                    <input matInput type="text" class="form-control-sm" [formControl]="seleccionBancoCheque"
                        [matAutocomplete]="bancoCheque">
                </mat-form-field>
            </div>
            <div class="form-group col-3">
                <mat-form-field appearance="standard">
                    <mat-label>Detalle</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="deposito.valor">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>Valor</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaCredito.valor">
                </mat-form-field>
            </div>
            <div class="form-group col-1">
                <mat-form-field appearance="standard">
                    <mat-label>Intereses</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaCredito.lote">
                </mat-form-field>
            </div>
            <div class="form-group col-2">
                <mat-form-field appearance="standard">
                    <mat-label>V. Total</mat-label>
                    <input matInput type="text" class="form-control-sm" [(ngModel)]="tarjetaCredito.valor">
                </mat-form-field>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="card">
        <div class="card-header">
            <div class="form-row col-12">
                <div class="form-group col-8 izquierda">
                    CRÉDITO
                </div>
                <div class="form-group col-3 derecha">
                    Total a crédito:
                </div>
                <div class="form-group col-1">{{recaudacion.totalCredito | currency}}</div>
            </div>
        </div>
        <div class="card-body form-row col-12">
            <div class="form-row col-7">
                <div class="form-group col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Saldo</mat-label>
                        <input matInput type="text" class="form-control-sm"
                            [value]="factura.totalConDescuento-recaudacion.total" disabled>
                    </mat-form-field>
                </div>
                <div class="form-group col-4">
                    <mat-form-field appearance="standard">
                        <mat-label>Unidad de Tiempo</mat-label>
                        <mat-select class="form-control-sm" [(ngModel)]="recaudacion.credito.unidadTiempo">
                            <mat-option *ngFor="let periodicidad of periodicidades" [value]="periodicidad.nombre">
                                {{periodicidad.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-2">
                    <mat-form-field appearance="standard">
                        <mat-label>Plazo.</mat-label>
                        <input matInput type="text" class="form-control-sm" [(ngModel)]="recaudacion.credito.plazo">
                    </mat-form-field>
                </div>
            </div>
            <div class="form-row col-5">
                <mat-form-field appearance="outline" class="grande">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput [(ngModel)]="recaudacion.comentario" placeholder="Descripción del pago..."
                        class="form-control form-control-sm" rows="5"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>