//SCSS DE COMPONENTE FACTURA
.resaltar{
    font-weight: bold;
    color: rgba(255, 0, 0, 0.63);
}

/*oculta el ancho del autocomplete*/
.mat-autocomplete{
    position: fixed;
    width: 10%;
}

.mat-stepper-horizontal {
    margin-top: 0px;
}   

.resultados{
    border: 2px solid #5b6582 !important;
    border-radius: 10px !important;
    padding: 0 8px !important;
    margin: 5px;
}

textarea.mat-input-element{
    font-size: 14px !important;
    text-align: justify;
    white-space: normal;
}
