<div class="contenedor">
    <mat-stepper (selectionChange)="cambiarStepper($event)" [linear]="steeperLinear" #stepper>
        <!-- Paso Facturación -->
        <mat-step [stepControl]="facturacionSteeperFormGroup" [editable]="steeperEditable">
            <nav class="navbar-light nav-fijo">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngIf="factura.id == 0">
                        <a class="nav-link" title="Guardar" role="button" (click)="crear($event)">
                            <mat-icon>save</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="factura.id!=0">
                        <a class="nav-link" title="Actualizar" role="button" (click)="actualizar($event)">
                            <mat-icon>update</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="Nuevo" role="button" (click)="nuevo()">
                            <mat-icon>file_copy</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" title="Cliente" role="button" (click)="abrirTabCliente($event)">
                            <mat-icon>person_add</mat-icon>
                        </a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" title="Producto" role="button" (click)="abrirTabProducto($event)">
                            <mat-icon>shopping_basket</mat-icon>
                        </a>
                    </li>   
                    <ng-container *ngIf="factura.id!=0">
                        <li class="nav-item" *ngIf="factura.estado!=activo">
                            <a class="nav-link" title="Activar" role="button" (click)="activar($event)">
                                <mat-icon>assignment_turned_in</mat-icon>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="factura.estado==activo">
                            <a class="nav-link" title="Inactivar" role="button" (click)="inactivar($event)">
                                <mat-icon>delete_forever</mat-icon>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="factura.estado == 'RECAUDADA'">
                            <a class="nav-link" title="Crear Factura Electronica" href="#" role="button"
                                (click)="crearFacturaElectronica($event)">
                                <mat-icon>point_of_sale</mat-icon>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="(factura.estado == 'RECAUDADA' || factura.estado == 'FACTURADA')">
                            <a class="nav-link" title="Obtener PDF" href="#" role="button"
                                (click)="obtenerPDF($event)">
                                <mat-icon>picture_as_pdf</mat-icon>
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="(factura.estado == 'RECAUDADA' || factura.estado == 'FACTURADA')">
                            <a class="nav-link" title="Enviar PDF Y XML" href="#" role="button"
                                (click)="enviarPDFYXML($event)">
                                <mat-icon>forward_to_inbox</mat-icon>
                            </a>
                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a class="nav-link" title="Recaudación" role="button" (click)="stepperSiguiente(stepper)">
                            <mat-icon>redo</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
            <ng-template matStepLabel>Facturación</ng-template>
            <mat-divider></mat-divider>
            <mat-accordion class="headers-align">
                <mat-expansion-panel (opened)="abrirPanelFacturaCliente = true" (closed)="abrirPanelFacturaCliente = false"
                    [expanded]="abrirPanelFacturaCliente">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>DATOS PARA FACTURA</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{abrirPanelFacturaCliente ? 'Ocultar datos cliente' : 'Información del cliente para facturar'}}
                            <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <div class="form-group form-row">
                        <div class="form-row col-9">
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Identificación</mat-label>
                                    <input matInput type="text" class="form-control-sm" placeholder="Cédula/RUC"
                                        [formControl]="controlIdentificacionCliente" [matAutocomplete]="identificacionCliente">
                                    <mat-autocomplete #identificacionCliente="matAutocomplete" [displayWith]="verIdentificacionCliente"
                                        (optionSelected)="seleccionarIdentificacionCliente()" (opened)="consultarClientes()">
                                        <mat-option *ngFor="let cliente of filtroIdentificacionClientes | async"
                                            [value]="cliente">{{cliente.identificacion}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-10">
                                <mat-form-field appearance="standard">
                                    <mat-label>Razón Social</mat-label>
                                    <input type="text" class="form-control-sm" placeholder="Clientes" matInput
                                        [formControl]="controlRazonSocialCliente" [matAutocomplete]="razonSocialCliente"
                                        oninput="this.value = this.value.toUpperCase()">
                                    <mat-autocomplete #razonSocialCliente="matAutocomplete"
                                        [displayWith]="verRazonSocialCliente"
                                        (optionSelected)="seleccionarRazonSocialCliente()" (opened)="consultarClientes()">
                                        <mat-option *ngFor="let cliente of filtroRazonSocialClientes | async"
                                            [value]="cliente">
                                            {{cliente.razonSocial}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Fecha</mat-label>
                                    <input matInput [matDatepicker]="picker1" class="form-control-sm" [(ngModel)]="factura.fecha" [max]="hoy">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-10">
                                <mat-form-field appearance="standard">
                                    <mat-label>Dirección</mat-label>
                                    <input matInput type="text" [(ngModel)]="factura.cliente.direccion"
                                        class="form-control-sm" [disabled]="true">
                                </mat-form-field>
                            </div>
                            <section class="form-row col-12">
                                <div class="form-row col-4">
                                    <ng-container *ngFor="let telefono of factura.cliente.telefonos; let i=index ">
                                        <div class="col-12">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Teléfono</mat-label>
                                                <b matPrefix>+593 &nbsp;</b>
                                                <input matInput type="tel" [value]="telefono.numero" class="form-control-sm"
                                                    [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="form-row col-4">
                                    <ng-container *ngFor="let celular of factura.cliente.celulares; let i=index ">
                                        <div class="col-12">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Celular</mat-label>
                                                <b matPrefix>+593 &nbsp;</b>
                                                <input matInput type="tel" [value]="celular.numero" class="form-control-sm"
                                                    [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="form-row col-4">
                                    <ng-container *ngFor="let correo of factura.cliente.correos; let i=index ">
                                        <div class="col-12">
                                            <mat-form-field appearance="standard">
                                                <mat-label>Correo electrónico</mat-label>
                                                <input matInput type="text" [(ngModel)]="correo.email"
                                                    class="form-control-sm" [disabled]="true">
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                            </section>
                            <div class="col-12">
                                <mat-form-field appearance="standard">
                                    <mat-label>Clave de Acceso - Factura Electrónica</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="factura.claveAcceso" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-row col-3 linea-vertical ml-1">
                            <div class="col-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>Estab.</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="sesion.usuario.estacion.establecimiento.codigoSRI" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field appearance="standard">
                                    <mat-label>Punto V.</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="sesion.usuario.estacion.codigoSRI" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Secuencial</mat-label>
                                    <input matInput type="text" class="form-control-sm" [(ngModel)]="factura.secuencial"
                                        disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <mat-form-field appearance="standard">
                                    <mat-label>Saldo Prep.</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="factura.cliente.montoFinanciamiento" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-7">
                                <mat-form-field appearance="standard">
                                    <mat-label>Forma de pago</mat-label>
                                    <input matInput type="text" class="form-control-sm resaltar"
                                        [(ngModel)]="factura.cliente.formaPago.abreviatura" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-5">
                                <mat-form-field appearance="standard">
                                    <mat-label>Vendedor</mat-label>
                                    <input matInput type="text" class="form-control-sm"
                                        [(ngModel)]="sesion.usuario.apodo" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-7">
                                <mat-form-field appearance="standard">
                                    <mat-label>Estado</mat-label>
                                    <mat-select class="form-control-sm" [(ngModel)]="factura.estado" [disabled]="true">
                                        <mat-option [value]="emitida">{{emitida}}</mat-option>
                                        <mat-option [value]="anulada">{{anulada}}</mat-option>
                                        <mat-option [value]="noFacturada">{{noFacturada}}</mat-option>
                                        <mat-option [value]="facturada">{{facturada}}</mat-option>
                                        <mat-option [value]="noRecaudada">{{noRecaudada}}</mat-option>
                                        <mat-option [value]="recaudada">{{recaudada}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="abrirPanelFacturaLinea = true" (closed)="abrirPanelFacturaLinea = false"
                    [expanded]="abrirPanelFacturaLinea">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>DETALLE FACTURA</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{abrirPanelFacturaLinea ? 'Ocultar Detalles' : 'Administrar detalles de la factura'}}
                            <mat-icon>playlist_add_check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-group form-row">
                        <div class="col-9">
                            <div class="centrar-titulo fondo">
                                <mat-label>PRODUCTO</mat-label>
                            </div>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row">
                                    <div class="col-8">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Producto</mat-label>
                                            <input matInput type="text" class="form-control-sm" placeholder="Producto"
                                                [formControl]="controlProducto" [matAutocomplete]="producto"
                                                oninput="this.value = this.value.toUpperCase()">
                                            <mat-autocomplete #producto="matAutocomplete" [displayWith]="verProducto"
                                                (optionSelected)="seleccionarProducto()" (opened)="consultarProductos()">
                                                <mat-option *ngFor="let producto of filtroProductos | async" [value]="producto">
                                                    {{producto.nombre}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Medida</mat-label>
                                            <input matInput type="text"
                                                [(ngModel)]="facturaLinea.producto.medida.descripcion"
                                                class="form-control-sm" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Bodega</mat-label>
                                            <mat-select [(ngModel)]="facturaLinea.bodega"
                                                (selectionChange)="seleccionarBodega()" [compareWith]="compareFn"
                                                class="form-control-sm" [disabled]="!esBien">
                                                <mat-option *ngFor="let bodega of bodegas; let i=index"
                                                    [value]="bodega">
                                                    {{bodega.abreviatura}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Saldo Bod</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="kardex.saldo" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Cantidad</mat-label>
                                            <input matInput type="text" appFormatoDecimal [(ngModel)]="facturaLinea.cantidad"
                                                (change)="calcularFacturaLinea()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Precio Unit.</mat-label>
                                            <input matInput type="text" appFormatoDecimal class="form-control-sm"
                                                [(ngModel)]="facturaLinea.precioUnitario" [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>IVA</mat-label>
                                            <mat-select [(ngModel)]="facturaLinea.impuesto" [compareWith]="compareFn"
                                                (selectionChange)="calcularFacturaLinea()" class="form-control-sm">
                                                <mat-option *ngFor="let impuesto of impuestos" [value]="impuesto">
                                                    {{impuesto.porcentaje}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>PVP</mat-label>
                                            <input matInput type="text" appFormatoDecimal step="0.01"
                                                [(ngModel)]="precioVentaPublicoManual"
                                                (change)="calcularFacturaLinea()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Desc. $</mat-label>
                                            <input matInput type="text" appFormatoDecimal step="0.01"
                                                [(ngModel)]="facturaLinea.valorDescuentoLinea"
                                                (change)="calcularFacturaLinea()" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Desc. %</mat-label>
                                            <input matInput type="text" appFormatoDecimal min="0" max="100" step="0.01"
                                                [(ngModel)]="facturaLinea.porcentajeDescuentoLinea"
                                                (change)="calcularFacturaLinea()"
                                                class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-2">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Subtotal</mat-label>
                                            <input matInput type="text" appFormatoDecimal
                                                [(ngModel)]="facturaLinea.totalConDescuentoLinea"
                                                class="form-control-sm" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Entregado</mat-label>
                                            <mat-select class="form-control-sm" [(ngModel)]="facturaLinea.entregado">
                                                <mat-option [value]="no">{{no}}</mat-option>
                                                <mat-option [value]="si">{{si}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-1 iconos centrar">
                                        <button mat-icon-button mat-button *ngIf="!verIconoEditarLinea"
                                            (click)="crearFacturaLinea()">
                                            <mat-icon>add_shopping_cart</mat-icon>
                                        </button>
                                        <button mat-icon-button *ngIf="verIconoEditarLinea"
                                            (click)="actualizarFacturaLinea()">
                                            <mat-icon>update</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-3">
                            <div class="centrar-titulo fondo">
                                <mat-label>INFORMACIÓN</mat-label>
                            </div>
                            <mat-card class="mat-elevation-z8">
                                <div class="form-row">
                                    <div class="col-3">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Consig.</mat-label>
                                            <input matInput type="text" [(ngModel)]="facturaLinea.producto.consignacion"
                                                [disabled]="true" class="form-control-sm">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-9">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Código</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="facturaLinea.producto.codigo" disabled>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Categoría</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="facturaLinea.producto.categoriaProducto.descripcion"
                                                [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="standard">
                                            <mat-label>Tipo de Gasto</mat-label>
                                            <input matInput type="text" class="form-control-sm"
                                                [(ngModel)]="facturaLinea.producto.tipoGasto.descripcion"
                                                [disabled]="true">
                                        </mat-form-field>
                                    </div>
                                </div>  
                            </mat-card>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="col-12">
                            <mat-form-field appearance="standard">
                                <mat-label>Buscar producto agregado</mat-label>
                                <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtroFacturaLinea($event)" #inputFiltroLinea>
                                <button mat-button *ngIf="inputFiltroLinea.value" matSuffix mat-icon-button
                                    (click)="borrarFiltroFacturaLinea()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSourceLinea" matSort #matSortLinea="matSort">
                                    <!-- Columnas Dinamicas -->
                                    <ng-container *ngFor="let columna of columnasLinea"
                                        [matColumnDef]="columna.nombreColumna">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                                        <td mat-cell *matCellDef="let row; let i=index">
                                            <ng-container *ngIf="columna.nombreColumna!='acciones'">
                                                {{ columna.celda(row) }}
                                            </ng-container>
                                            <ng-container *ngIf="columna.nombreColumna=='acciones'">
                                                <button mat-icon-button color="warn" (click)="eliminarFacturaLinea(i)">
                                                    <i class="fa fa-times mat-icon"></i>
                                                </button>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="cabeceraLinea"></tr>
                                    <tr mat-row *matRowDef="let row; let i=index; columns: cabeceraLinea"
                                        (click)="seleccionFacturaLinea(row, i)" [class.selected-row]="clickedRowsLinea.has(row)"></tr>
                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="11">No hay productos agregados o filtrados
                                        </td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons 
                                    #paginatorLinea></mat-paginator>
                            </div>
                            <div class="azul" *ngIf="!clickedRowsLinea.size">
                                Seleccione una fila para editar
                            </div>
                            <div class="azul" *ngFor="let clickedRowLinea of clickedRowsLinea">
                                Código: {{clickedRowLinea.cantidad}} seleccionado
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="form-group form-row">
                            <div class="form-row col-3 pl-3 pr-3">
                                <div class="col-12"></div>
                                <div class="col-12">
                                    <div class="centrar-titulo fondo">
                                        <mat-label>DESCUENTO AL SUBTOTAL</mat-label>
                                    </div>
                                    <mat-card class="mat-elevation-z8">
                                        <div class="form-row">
                                            <div class="col-6">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>Valor</mat-label>
                                                    <input matInput type="text" appFormatoDecimal step="0.01"
                                                        [(ngModel)]="factura.valorDescuentoSubtotal"
                                                        (change)="calcularTotales()" class="form-control-sm">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>Porcentaje</mat-label>
                                                    <input matInput type="text" appFormatoDecimal min="0" max="100" step="0.01"
                                                        [(ngModel)]="factura.porcentajeDescuentoSubtotal"
                                                        (change)="calcularTotales()" class="form-control-sm">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>
                                <div class="col-12">
                                    <div class="centrar-titulo fondo">
                                        <mat-label>DESCUENTO AL TOTAL</mat-label>
                                    </div>
                                    <mat-card class="mat-elevation-z8">
                                        <div class="form-row">      
                                            <div class="col-6">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>Valor</mat-label>
                                                    <input matInput type="text" appFormatoDecimal min="0" step="0.01" 
                                                        [(ngModel)]="factura.valorDescuentoTotal"
                                                        (change)="calcularTotales()" class="form-control-sm">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="standard">
                                                    <mat-label>Porcentaje</mat-label>
                                                    <input matInput type="text" appFormatoDecimal min="0" max="100" step="0.01"
                                                        [(ngModel)]="factura.porcentajeDescuentoTotal"
                                                        (change)="calcularTotales()" class="form-control-sm">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </mat-card>
                                </div>    
                            </div>
                            <div class="col-5 linea-vertical">
                                <br>
                                <div class="col-12">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Comentario</mat-label>
                                        <textarea matInput [(ngModel)]="factura.comentario"
                                            placeholder="Referente a la factura..." class="form-control"
                                            rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-4">
                                <mat-card class="resultados">
                                    <div class="form-group form-row">
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Subtotal :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text" [value]="formateaNumero(factura.subtotalSinDescuento)"
                                                    class="form-control-sm" disabled>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Descuento :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text" [value]="formateaNumero(factura.descuentoTotal)"
                                                    class="form-control-sm" disabled>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Subtotal Grabado :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text "
                                                    [value]="formateaNumero(factura.subtotalBase12ConDescuento)"
                                                    class="form-control-sm " disabled>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Subtotal No Grabado :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text "
                                                    [value]="formateaNumero(factura.subtotalBase0ConDescuento)"
                                                    class="form-control-sm " disabled>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label>Importe IVA :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text " [value]="formateaNumero(factura.ivaConDescuento)"
                                                    class="form-control-sm " disabled>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-7 negrita centrar-vertical-izq">
                                            <mat-label class="negrita">TOTAL :</mat-label>
                                        </div>
                                        <div class="col-5">
                                            <mat-form-field appearance="standard">
                                                <input matInput type="text" [value]="formateaNumero(factura.totalConDescuento)"
                                                    class="form-control-sm" disabled>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-accordion class="headers-align">
                <mat-expansion-panel (opened)="abrirPanelAdminFactura = true" (closed)="abrirPanelAdminFactura = false"
                    [expanded]="abrirPanelAdminFactura">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i><u>GESTIONAR FACTURAS</u></i>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{abrirPanelAdminFactura ? 'Ocultar administrador de facturas' : 'Administrar facturas existentes'}}
                            <mat-icon>group</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-divider></mat-divider>
                    <mat-form-field appearance="standard">
                        <mat-label>Buscar factura</mat-label>
                        <input matInput oninput="this.value = this.value.toUpperCase()" (keyup)="filtroFactura($event)" 
                            placeholder="Ej. BA" #inputFiltro>
                        <button mat-button *ngIf="inputFiltro.value" matSuffix mat-icon-button
                            (click)="borrarFiltroFactura()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSourceFactura" matSort #matSort="matSort">
                            <!-- Columnas Dinamicas -->
                            <ng-container *ngFor="let columna of columnasFactura" [matColumnDef]="columna.nombreColumna">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                                <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="cabeceraFactura"></tr>
                            <tr mat-row (click)="seleccion(row)" [class.selected-row]="clickedRowsFactura.has(row)"
                                *matRowDef="let row; columns: cabeceraFactura;"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="6">No hay datos que coincidan con la factura: 
                                    "{{inputFiltro.value}}"</td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                            #paginator="matPaginator"></mat-paginator>
                    </div>
                    <div class="azul" *ngIf="!clickedRowsFactura.size">
                        Seleccione una fila para editar
                    </div>
                    <div class="azul" *ngFor="let clickedRow of clickedRowsFactura">
                        Id: {{clickedRow.id}} seleccionado
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-step>
        <!-- Paso Recaudación -->
        <mat-step [stepControl]="recaudacionSteeperFormGroup" [editable]="steeperEditable" (selectionChange)="cambiarStepper($event)">
            <ng-template matStepLabel>Recaudación</ng-template>
            <app-recaudacion [stepper]="stepper" [factura]="factura" (facturaConRecaudacion)="actualizarRecaudacion($event)"
                (llamarNuevo)="nuevo()"></app-recaudacion>
        </mat-step>
    </mat-stepper>
    <!--button type="button" class="btn btn-sm btn-primary" (click)="showSpinner()">Show Spinner</button-->
    <ngx-spinner size="medium" type="line-spin-fade-rotating" [fullScreen] = "true" [zIndex]="1000">
        <p style="font-size: 20px; color: white">Cargando...</p>
    </ngx-spinner>
</div>