<nav class="navbar-light nav-fijo">
    <ul class="navbar-nav">
        <ng-container *ngIf="abrirPanelAsignarEstacion">
            <li class="nav-item" *ngIf="!verOpcionActualizarUsuario">
                <a class="nav-link" title="Guardar" role="button" (click)="actualizarUsuario($event)">
                    <mat-icon>save</mat-icon>
                </a>
            </li>
            <li class="nav-item" *ngIf="verOpcionActualizarUsuario">
                <a class="nav-link" title="Actualizar" role="button" (click)="actualizarUsuario($event)">
                    <mat-icon>update</mat-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" title="Borrar" role="button" (click)="limpiar()">
                    <mat-icon>file_copy</mat-icon>
                </a>
            </li>
        </ng-container>
    </ul>
</nav>
<div class="contenedor">
    <div class="form-group form-row">
        <div class="card col-12">
            <div class="card-header">
                &nbsp;&nbsp;&nbsp;<i><u>USUARIO</u></i>
            </div>
            <div class="card-body">
                <div class="form-group form-row">
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Usuario</mat-label>
                            <input matInput type="text" class="form-control-sm" [formControl]="controlUsuario"
                                [matAutocomplete]="usuario" #autocompleteUsuario>
                            <mat-autocomplete #usuario="matAutocomplete" [displayWith]="verUsuario"
                                (optionSelected)="seleccionarUsuario()">
                                <mat-option *ngFor="let usuario of filtroUsuarios | async" [value]="usuario">
                                    {{usuario.nombre}}
                                </mat-option>
                            </mat-autocomplete>
                            <button mat-button *ngIf="autocompleteUsuario.value" matSuffix mat-icon-button
                                (click)="limpiar()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <mat-accordion class="headers-align">
        <mat-expansion-panel (opened)="abrirPanelAsignarEstacion = true" (closed)="abrirPanelAsignarEstacion = false"
            [expanded]="abrirPanelAsignarEstacion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <i><u>ESTACIONES</u></i>
                </mat-panel-title>
                <mat-panel-description>
                    {{abrirPanelAsignarEstacion ? 'Ocultar asignar estaciones' : 'Asignar estaciones final al usuario'}}
                    <mat-icon>playlist_add</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <hr>
            <div class="col-12">
                <div class="centrar-titulo fondo">
                    <mat-label>ASIGNAR ESTACIONES</mat-label>
                </div>
                <mat-divider></mat-divider>
                <mat-card class="mat-elevation-z8 verBorde">
                    <div class="form-group form-row">
                        <div class="col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Empresa</mat-label>
                                <mat-select [(ngModel)]="estacionUsuario.estacion.establecimiento.empresa" [compareWith]="compareFn" 
                                    (selectionChange)="consultarEstablecimientos($event.value.id)" [disabled]="deshabilitarEditarEstacion" class="form-control-sm">
                                    <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                                        {{empresa.razonSocial}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field appearance="standard">
                                <mat-label>Establecimiento</mat-label>
                                <mat-select [(ngModel)]="estacionUsuario.estacion.establecimiento" [compareWith]="compareFn" 
                                    (selectionChange)="consultarEstaciones($event.value.id)" [disabled]="deshabilitarEditarEstacion" class="form-control-sm">
                                    <mat-option *ngFor="let establecimiento of establecimientos" [value]="establecimiento">
                                        {{establecimiento.codigo}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field appearance="standard">
                                <mat-label>Estación Final</mat-label>
                                <mat-select [(ngModel)]="estacionUsuario.estacion" [compareWith]="compareFn"
                                    [disabled]="deshabilitarEditarEstacion" class="form-control-sm">
                                    <mat-option *ngFor="let estacion of estaciones" [value]="estacion">
                                        {{estacion.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-1 iconos">
                            <button mat-icon-button mat-button *ngIf="verBotones">
                                <mat-icon title="Agregar"
                                    *ngIf="!deshabilitarEditarEstacion && !verBotonActualizarEstacion"
                                    (click)="agregarEstacionUsuario()">add</mat-icon>
                                <mat-icon title="Editar" *ngIf="deshabilitarEditarEstacion" 
                                    (click)="editarEstacionUsuario()">edit</mat-icon>
                                <mat-icon title="Actualizar" *ngIf="verBotonActualizarEstacion"
                                    (click)="actualizarEstacionUsuario()">update</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>
                <mat-divider></mat-divider>
                <div class="form-row">
                    <mat-form-field appearance="standard">
                        <mat-label>Buscar estaciones</mat-label>
                        <input matInput [disabled]="deshabilitarFiltroEstaciones"
                            (keyup)="filtroEstacionUsuario($event)" placeholder="Ej. BA"
                            oninput="this.value = this.value.toUpperCase()" #inputFiltroEstacionUsuario>
                        <button mat-button *ngIf="inputFiltroEstacionUsuario.value" matSuffix mat-icon-button
                            (click)="borrarFiltroEstacionUsuario()"> 
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="mat-elevation-z8 col-12">
                        <table mat-table [dataSource]="dataSourceEstacionUsuario" matSort>
                            <!-- Columnas Dinamicas -->
                            <ng-container *ngFor="let columna of columnasEstacionUsuario"
                                [matColumnDef]="columna.nombreColumna">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna.cabecera }} </th>
                                <ng-container *ngIf="columna.nombreColumna != 'acciones'">
                                    <td mat-cell *matCellDef="let row"> {{ columna.celda(row) }} </td>
                                </ng-container>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="cabeceraEstacionUsuario"></tr>
                            <tr mat-row (click)="seleccionEstacionUsuario(row)"
                                [class.selected-row]="clickedRowsEstacionUsuario.has(row)"
                                *matRowDef="let row; columns: cabeceraEstacionUsuario;"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No hay datos que coincidan con el proveedor
                                    "{{inputFiltroEstacionUsuario.value}}"
                                </td>
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                    <div class="azul" *ngIf="!clickedRowsEstacionUsuario.size">
                        Seleccione una fila para editar
                    </div>
                    <div class="azul" *ngFor="let clickedRowEstacionUsuario of clickedRowsEstacionUsuario">
                        Id: {{clickedRowEstacionUsuario.id}} seleccionado
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>