.mapa{
    width: 100%;
    height: 180px;
}

section>.form-row{
    margin-right: 0px;
    margin-left: 0px;
}

.foto{
    border: 2px solid #5b6582 !important;
    border-radius: 10px !important;
    padding: 0 8px !important;
    margin: 5px;
    height: 130px;
}