/**** SCS Especifico para tabla Linea NC-compra  ****/
.mat-icon-button{
  width: 25px;
  height: 25px;
  line-height: 0px;
}

:host ::ng-deep td > mat-form-field > .mat-form-field-wrapper {
    padding-bottom: 0.1em !important;
    .mat-form-field-flex > .mat-form-field-infix {
      width: 0px!important;
      border-top: 0.1em !important;
      .mat-input-element {
        font-size: 12px !important;
        height: 12px;
      }
    }
  }
 
.mat-column-cantidad,
.mat-column-costounitario {
    width: 100px;
    max-width: 100px;
    word-wrap: break-word;
}

.centrar-celda{
  text-align: center;
}

.mat-column-producto {
  text-align: left!important;
}

:host ::ng-deep .centrar-cabecera .mat-sort-header-container {
  //display: flex;
  justify-content: center;
}

:host ::ng-deep .mat-column-producto>.mat-sort-header-container {
  justify-content: left!important;
}
